Django==2.2.13
coreapi
django-adminactions
django-ckeditor
django-compressor
django-cors-headers
django-extensions
django-filter
django-geonames-place>=0.6.0
django-haystack
django-kdl-ldap
django-kdl-wagtail
django-languages-plus
django-libsass
django-model-utils
django-nested-admin
django-polymorphic
django-redis
django-rest-polymorphic
django-reversion
django-script-codes
elasticsearch>=2.0.0,<3.0.0
lxml
markdown
pandas
psycopg2-binary
pygments
redis
xlrd
