wagtail
django-compressor
django-ckeditor
django-extensions
django-kdl-ldap
django-languages-plus
django-libsass
django-model-utils
django-nested-admin
django-redis
django-reversion
django-script-codes
psycopg2-binary
redis