{% load editor_form_tags %}
<fieldset data-form-type="biography">
  <div class="fieldset-header">
      <h4>
        {% if form.abstract.value %}
          {{ form.abstract.value|default:""|striptags|safe|truncatewords:10 }}
        {% else %}
          {% if is_corporate_body %}
            History
          {% else %}
            Biography
          {% endif %}
        {% endif %}
      </h4>
    <div class="flex">
      <div>
        {% include "./delete_inline_button.html" %}
      </div>
      <a class="toggle-tab-button active" onclick="toggleTab(this)"></a>
    </div>
  </div>
  <div class="fieldset-body inline-deletable">
    {% render_form_delete_widget form.DELETE %}
    {% render_field form.id %}
    {% render_field form.abstract %}
    {% render_field form.content %}
    {% render_field form.description %}
    {% render_field form.sources %}
    {% render_field form.copyright %}
  </div>
</fieldset>
