{% load editor_form_tags %}
<fieldset data-form-type="biography">
  <div class="fieldset-header">
    <h3>{{ form.abstract.value|default:""|truncatewords:10 }}</h3>
    <div class="flex">
      <div>
        {% include "./delete_inline_button.html" %}
      </div>
      <a class="toggle-tab-button" onclick="toggleTab(this)"></a>
    </div>
  </div>
  <div class="fieldset-body expand inline-deletable">
    {% include "./delete_form_field.html" with form=form %}
    {% render_field form.id %}
    {% render_field form.abstract %}
    {% render_field form.content %}
    {% render_field form.structure_or_genealogy %}

    {% render_field form.description %}

    {% render_field form.sources %}
    {% render_field form.copyright %}
  </div>
</fieldset>
