{% load editor_form_tags %}
<fieldset class="optional-to-delete" data-form-type="description">
  <div class="fieldset-header">
    <h3>QAZ</h3>
    <div class="flex">
      <div>
        QAZ Delete with checkbox
      </div>
      <a class="toggle-tab-button" onclick="toggleTab(this)"></a>
    </div>
  </div>
  <div class="fieldset-body expand">
    <div class="formset">
      <h3>GENDER (QAZ)
        <span role="button" aria-label="additional info" data-content-type="gender" class="icon-only additional-info-icon">&#xf059;</span>
      </h3>
      <div class="management_form">
        {{ form.formsets.local_descriptions.management_form }}
      </div>
      <div class="fieldsets">
        {% for local_description in form.formsets.local_descriptions.forms %}
        {% include "./local_description_inline_form.html" with form=local_description %}
        {% endfor %}
      </div>
      <label class="create linked-button">
        <input type="button" class="icon-only" value="&#xf067;" onclick="addEmptyForm('local_description', this)">Add gender
      </label>
    </div>

    <div class="formset">
      <h3>BIOGRAPHY/HISTORY (QAZ)
        <span role="button" aria-label="additional info" data-content-type="biography" class="icon-only additional-info-icon">&#xf059;</span>
      </h3>
      <div class="management_form">
        {{ form.formsets.biography_histories.management_form }}
      </div>
      <div class="fieldsets">
        {% for biography in form.formsets.biography_histories.forms %}
        {% include "./biography_history_inline_form.html" with form=biography %}
        {% endfor %}
      </div>
      <label class="create linked-button">
        <input type="button" class="icon-only" value="&#xf067;" onclick="addEmptyForm('biography', this)">Add biography/history
      </label>
    </div>

    <div class="formset">
      <h3>LANGUAGES USED (QAZ)
        <span role="button" aria-label="additional info" data-content-type="language" class="icon-only additional-info-icon">&#xf059;</span>
      </h3>
      <div class="management_form">
        {{ form.formsets.language_scripts.management_form }}
      </div>
      <div class="fieldsets">
        {% for language in form.formsets.language_scripts.forms %}
        {% include "./language_script_inline_form.html" with form=language %}
        {% endfor %}
      </div>
      <label class="create linked-button">
        <input type="button" class="icon-only" value="&#xf067;" onclick="addEmptyForm('language', this)">Add language
      </label>
    </div>
    <div class="formset">
      <h3>PLACES (QAZ)
        <span role="button" aria-label="additional info" data-content-type="place" class="icon-only additional-info-icon">&#xf059;</span>
      </h3>
      <div class="management_form">
        {{ form.formsets.places.management_form }}
      </div>
      <div class="fieldsets">
        {% for place in form.formsets.places.forms %}
        {% include "./place_inline_form.html" with form=place %}
        {% endfor %}
      </div>
      <label class="create linked-button">
        <input type="button" class="icon-only" value="&#xf067;" onclick="addEmptyForm('place', this)">Add place
      </label>
    </div>
    <div class="formset">
      <h3>MANDATE (QAZ)
        <span role="button" aria-label="additional info" data-content-type="mandate" class="icon-only additional-info-icon">&#xf059;</span>
      </h3>
      <div class="management_form">
        {{ form.formsets.mandates.management_form }}
      </div>
      <div class="fieldsets">
        {% for mandate in form.formsets.mandates.forms %}
        {% include "./mandate_inline_form.html" with form=mandate %}
        {% endfor %}
      </div>
      <label class="create linked-button">
        <input type="button" class="icon-only" value="&#xf067;" onclick="addEmptyForm('mandate', this)">Add mandate
      </label>
    </div>
    <div class="formset">
      <h3>LEGAL STATUS (QAZ)
        <span role="button" aria-label="additional info" data-content-type="legal-status" class="icon-only additional-info-icon">&#xf059;</span>
      </h3>
      <div class="management_form">
        {{ form.formsets.legal_statuses.management_form }}
      </div>
      <div class="fieldsets">
        {% for legal_status in form.formsets.legal_statuses.forms %}
        {% include "./legal_status_inline_form.html" with form=legal_status %}
        {% endfor %}
      </div>
      <label class="create linked-button">
        <input type="button" class="icon-only" value="&#xf067;" onclick="addEmptyForm('legal_status', this)">Add legal status
      </label>
    </div>
    QAZ All of FUNCTIONS
  </div>
</fieldset>
