<div class="duplicate">
  <div class="cta">
    <button type="button" class="default" onclick="confirmMergeAction('merge-modal', 'merge', {{ duplicate.id }})">Merge</button>
    {% if unmarked and added != duplicate.pk %}
      <button type="button" class="default" onclick="confirmMergeAction('merge-modal', 'mark', {{ duplicate.id }})">Not a duplicate</button>
    {% elif unmarked and added == duplicate.pk %}
      <a href="{% url 'editor:entity-duplicates' entity_id=entity.pk %}" class="dotted-underline">Reselect a duplicate</a>
    {% elif not unmarked %}
      <button type="button" class="default inactive" disabled>Not a duplicate</button>
    {% endif %}
  </div>
  <div class="record">
    <a href="{% url 'editor:entity-edit' entity_id=duplicate.pk %}" class="dotted-underline">{{ duplicate }}</a><span class="divider"></span><a href="{% url 'editor:entity-duplicates' entity_id=duplicate.pk %}"><i class="fal fa-copy"></i> <span class="dotted-underline">Manage duplicates of Record ID: {{ duplicate.id }}</span></a>
    <div class="subitems">
      <ul>
        <li class="highlight">Record ID: {{ duplicate.id }}</li>
        <li>Type: {{ duplicate.entity_type }}</li>
        <li>Publication status: {{ duplicate.control.publication_status }}</li>
        <li>Updated: {{ duplicate.modified }}</li>
      </ul>
    </div>
  </div>
</div>
