{% load editor_form_tags %}
<fieldset data-form-type="event">
  <div class="fieldset-header">
    <h3>{{ form.event.value|default:""|truncatewords:10 }}</h3>
    <div class="flex">
      <div>
        {% include "./delete_inline_button.html" %}
      </div>
      <a class="toggle-tab-button active" onclick="toggleTab(this)"></a>
    </div>
  </div>
  <div class="fieldset-body expand inline-deletable">
    {% include "./delete_form_field.html" with form=form %}
    <div class="two-column-table">
      <div>
        {% render_field form.id %}
        {% render_field form.event %}
      </div>
      <div>
        {% render_field form.place %}
        {% include "./date_section.html" with form=form only %}
      </div>
    </div>
  </div>
</fieldset>
