{% load editor_form_tags %}
<fieldset data-form-type="event">
  <div class="fieldset-header">
      <h4>
        {% if form.event.value %}
          {{ form.event.value|default:""|truncatewords:10 }}
        {% else %}
          Event
        {% endif %}
      </h4>
    <div class="flex">
      <div>
        {% include "./delete_inline_button.html" %}
      </div>
      <button class="toggle-tab-button active" onclick="toggleTab()" aria-label="toggle tab"></button>
    </div>
  </div>
  <div class="fieldset-body expand inline-deletable">
    {% render_form_delete_widget form.DELETE %}
    <div class="two-column-table">
      <div>
        {% render_field form.id %}
        {% render_field form.event %}
      </div>
      <div>
        {% render_field form.place %}
        {% include "./date_section.html" with form=form only %}
      </div>
    </div>
  </div>
</fieldset>
