{% load editor_form_tags %}
<fieldset data-form-type="function">
  <div class="fieldset-header">
    <h4>
      {% if form.instance.title %}
        {{ form.instance.title|default:""|truncatewords:10 }}
      {% else %}
        Function
      {% endif %}
    </h4>
    <div class="flex">
      <div>
        {% include "./delete_inline_button.html" %}
      </div>
      <button class="toggle-tab-button active" onclick="toggleTab()" aria-label="toggle tab"></button>
    </div>
  </div>
  <div class="fieldset-body expand inline-deletable">
    {% render_form_delete_widget form.DELETE %}
    {% render_field form.id %}
    <div class="two-column-table">
      <div>
        {% render_field form.title %}
      </div>
      <div>
        {% include "./date_section.html" with form=form only %}
      </div>
    </div>
  </div>
</fieldset>
