{% load editor_form_tags %}
<fieldset data-form-type="identity">
  <div class="fieldset-header">
    <h4>{{ form.instance }}</h4>
    <div class="flex">
      <div>
        {% render_field form.id %}
        <!-- {% render_field form.preferred_identity %} -->
        <label>
            {{ form.preferred_identity }}
            {{ form.preferred_identity.label }}
        </label>
      </div>
      <div>
        {% include "./delete_inline_button.html" %}
      </div>
      <a class="toggle-tab-button active" onclick="toggleTab(this)"></a>
    </div>
  </div>
  <div class="fieldset-body expand inline-deletable">
    {% include "./delete_form_field.html" with form=form %}
    <div class="formset">
        <div class="flex" data-label-type="dates-of-existence">
            {% render_field form.date_from %}
            {% render_field form.date_to %}
            {% render_field form.display_date %}
          </div>
      {% with name_entries=form.formsets.name_entries %}
      <h3>NAME ENTRIES ({{ name_entries.management_form.INITIAL_FORMS.value|default:"0" }})
        <!-- TODO: add help text --> 
        <!-- <span role="button" aria-label="additional info" data-content-type="name-entry" class="icon-only additional-info-icon">&#xf059;</span> -->
      </h3>
      <div class="management_form">
        {{ name_entries.management_form }}
      </div>
      <div class="fieldsets">
        {% for name_entry in name_entries.forms %}
        {% include "./name_entry_inline_form.html" with form=name_entry %}
        {% endfor %}
      </div>
      {% endwith %}
      <label class="create linked-button">
        <input type="button" class="icon-only" value="&#xf067;" onclick="addEmptyForm('name_entry', this)">Add name entry
      </label>
    </div>
    <br>
    <div class="formset">
      {% with descriptions=form.formsets.descriptions %}
      <h3>DESCRIPTIONS ({{ descriptions.management_form.INITIAL_FORMS.value|default:"0" }})
        <!-- TODO: add help text --> 
        <!-- <span role="button" aria-label="additional info" data-content-type="descriptions" class="icon-only additional-info-icon">&#xf059;</span> -->
      </h3>
      <div class="management_form">
        {{ descriptions.management_form }}
      </div>
      <div class="fieldsets">
        {% for description in descriptions.forms %}
        {% include "./description_inline_form.html" with form=description %}
        {% endfor %}
      </div>
      {% endwith %}
      <label class="create linked-button">
        <input type="button" class="icon-only" value="&#xf067;" onclick="addEmptyForm('description', this)">Add description
      </label>
    </div>

    <div class="formset">
      {% with relations=form.formsets.relations %}
      <h3>RELATIONS ({{ relations.management_form.INITIAL_FORMS.value|default:"0" }})
        <!-- TODO: add help text --> 
        <!-- <span role="button" aria-label="additional info" data-content-type="relations" class="icon-only additional-info-icon">&#xf059;</span> -->
      </h3>
      <div class="management_form">
        {{ relations.management_form }}
      </div>
      <div class="fieldsets">
        {% for relation in relations.forms %}
        {% include "./relation_inline_form.html" with form=relation %}
        {% endfor %}
      </div>
      {% endwith %}
      <label class="create linked-button">
        <input type="button" class="icon-only" value="&#xf067;" onclick="addEmptyForm('relation', this)">Add relation
      </label>
    </div>
    <br>
    <div class="formset">
      {% with resources=form.formsets.resources %}
      <h3>RESOURCES ({{ resources.management_form.INITIAL_FORMS.value|default:"0" }})
        <!-- TODO: add help text --> 
        <!-- <span role="button" aria-label="additional info" data-content-type="resources" class="icon-only additional-info-icon">&#xf059;</span> -->
      </h3>
      <div class="management_form">
        {{ resources.management_form }}
      </div>
      <div class="fieldsets">
        {% for resource in resources.forms %}
        {% include "./resource_inline_form.html" with form=resource %}
        {% endfor %}
      </div>
      {% endwith %}
      <label class="create linked-button">
        <input type="button" class="icon-only" value="&#xf067;" onclick="addEmptyForm('resource', this)">Add resource
      </label>
    </div>
    <br>
  </div>
</fieldset>
