{% load editor_form_tags %}
<fieldset data-form-type="language">
  <div class="fieldset-header">
    <h4>{% render_field_option form.language "Language" %}</h4>
    <div class="flex">
      <div>
        {% include "./delete_inline_button.html" %}
      </div>
      <button class="toggle-tab-button active" onclick="toggleTab()" aria-label="toggle tab"></button>
    </div>
  </div>
  <div class="fieldset-body expand inline-deletable">
    {% render_form_delete_widget form.DELETE %}
    <div class="two-column-table">
      <div>
        {% render_field form.id %}
        {% render_field form.language %}
      </div>
      <div>
        {% render_field form.script %}
      </div>
    </div>
  </div>
</fieldset>
