{% load editor_form_tags %}
<fieldset data-form-type="language">
  <div class="fieldset-header">
    <h4>
      {% if form.language.value %}
        {{ form.language.value|default:"" }}
      {% else %}
        Language
      {% endif %}
    </h4>
    <div class="flex">
      <div>
        {% include "./delete_inline_button.html" %}
      </div>
      <a class="toggle-tab-button active" onclick="toggleTab(this)"></a>
    </div>
  </div>
  <div class="fieldset-body expand inline-deletable">
    {% render_form_delete_widget form.DELETE %}
    <div class="two-column-table">
      <div>
        {% render_field form.id %}
        {% render_field form.language %}
      </div>
      <div>
        {% render_field form.script %}
      </div>
    </div>
  </div>
</fieldset>
