{% load editor_form_tags %}
<fieldset data-form-type="legal_status">
  <div class="fieldset-header">
    {% if form.term.value %}
    <h4>{{ form.term.value|default:"" }}</h4>
    {% endif %}
    <div class="flex">
      <div>
        {% include "./delete_inline_button.html" %}
      </div>
      <a class="toggle-tab-button active" onclick="toggleTab(this)"></a>
    </div>
  </div>
  <div class="fieldset-body expand inline-deletable">
    {% render_form_delete_widget form.DELETE %}
    <div class="two-column-table">
      <div>
        {% render_field form.id %}
        {% render_field form.term %}
        {% render_field form.notes %}
      </div>
      <div>
        {% include "./date_section.html" with form=form class="date" only %}
        {% render_field form.citation %}
      </div>
    </div>
  </div>
</fieldset>
