{% load editor_form_tags %}
<fieldset data-form-type="local_description">
  <div class="fieldset-header">
    <h4>{% render_field_option form.gender "Gender" %}</h4>
    <div class="flex">
      <div>
        {% include "./delete_inline_button.html" %}
      </div>
      <a class="toggle-tab-button active" onclick="toggleTab(this)"></a>
    </div>
  </div>
  <div class="fieldset-body expand inline-deletable">
    {% render_form_delete_widget form.DELETE %}
    <div class="two-column-table">
      <div>
        {% render_field form.id %}
        {% render_field form.gender %}
        {% include "./date_section.html" with form=form class="date" only %}
      </div>
      <div>
        {% render_field form.notes %}
      </div>
    </div>
    {% render_field form.citation %}
  </div>
</fieldset>
