{% load editor_form_tags %}
<fieldset data-form-type="mandate">
  <div class="fieldset-header">
    <h4>
      {% if form.term.value %}
        {{ form.term.value|default:"" }}
      {% else %}
        Mandate
      {% endif %}
    </h4>
    <div class="flex">
      <div>
        {% include "./delete_inline_button.html" %}
      </div>
      <button class="toggle-tab-button active" onclick="toggleTab(this)"></button>
    </div>
  </div>
  <div class="fieldset-body expand inline-deletable">
    {% render_form_delete_widget form.DELETE %}
    <div class="two-column-table">
      <div>
        {% render_field form.id %}
        {% render_field form.term %}
      </div>
      <div>
        {% include "./date_section.html" with form=form class="date" only %}
      </div>
    </div>
    {% render_field form.notes %}
    {% render_field form.citation %}
  </div>
</fieldset>
