{% load editor_form_tags %}
<div class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Log comments</h2>
      <input type="button" class="icon-only" aria-label="close" onclick="closeBlock('modal')" value="&#xf00d;" />
    </div>
    <div class="modal-body">
      <div class="two-column-table">
        <div>
          {% render_field form.publication_status %}
          QAZ Editing event type
        </div>
        <div>
          QAZ Maintenance status
        </div>
      </div>
      {% render_field log_form.comment %}
    </div>
    <div class="modal-footer">
      <input type="submit" value="Save" class="save" />
    </div>
  </div>
</div>
