{% load editor_form_tags %}
<div data-form-type="name_part" class="flex">
  <div class="name-part inline-deletable">
    {% render_form_delete_widget form.DELETE %}
    {% render_field form.id %}
    {% render_field form.name_part_type %}
    {% render_field form.part %}
  </div>
  <div class="delete-button-block">
    <label class="button-link danger">
      <span hidden>Delete name part</span>
      <input type="button" class="icon-only" value="&#xf2ed;" onclick="toggleDeleteInline(event, this)"/>
    </label>
  </div>
</div>
