{% load editor_form_tags %}
<fieldset data-form-type="name_entry">
  <div class="fieldset-header">
    <h4>
      {% if form.display_name.value %}
        {{ form.display_name.value }}
      {% else %}
        Name entry
      {% endif %}
    </h4>
    <div class="flex">
      <div>
        {% render_field form.id %}
        <label>
            {{ form.authorised_form }}
            {{ form.authorised_form.label }}
        </label>
      </div>
      <div>
        {% include "./delete_inline_button.html" %}
      </div>
      <a class="toggle-tab-button active" onclick="toggleTab(this)"></a>
    </div>
  </div>
  <div class="fieldset-body expand inline-deletable">
    {% render_form_delete_widget form.DELETE %}
    <div class="two-column-table">
      <div class="formset">
        {{ form.is_royal_name }} {{ form.is_royal_name.label }}
        {% if is_corporate_body %}
          <div class="namePartField-required">A corporate body must contain a "corporate body name" part type.</div>
        {% elif form.is_royal_name.value %}
          <div class="namePartField-required">A royal name must contain a "forename" part type and a "proper title" part type.</div>
        {% else %}
          <div class="namePartField-required">A personal name must contain a "surname" part type.</div>
        {% endif %}
        {% with errors=form.non_field_errors %}
        {% if errors %}
        <div class="error-notification">
          <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        {% endwith %}
        {% with name_parts=form.formsets.name_parts %}
        <div class="management_form">
          {{ name_parts.management_form }}
        </div>
        <div class="fieldsets">
          {% for name_part in name_parts.forms %}
          {% include "./name_part_inline_form.html" with form=name_part %}
          {% endfor %}
        </div>
        {% endwith %}
        <label class="button-link create">
          <input type="button" class="icon-only" value="&#xf067;" onclick="addEmptyForm('name_part', this)">Add name part
        </label>
      </div>
      <div>
        {% render_field form.display_name %}
        <div class="two-column-table">
          <div>
            {% render_field form.language %}
          </div>
          <div>
            {% render_field form.script %}
          </div>
        </div>
        <div>
          {% include "./date_section.html" with form=form only %}
        </div>
      </div>
    </div>
  </div>
</fieldset>
