{% load editor_form_tags %}
<fieldset class="optional-to-delete" data-form-type="name_entry">
  <div class="fieldset-header">
    <h3>{{ form.display_name.value }}</h3>
    <div class="flex">
      <div>
        {% render_field form.id %}
        {% render_field form.authorised_form %}
      </div>
      <div>
        <label class="button-link danger">
          <input type="button" class="icon-only" value="&#xf2ed;" onclick="deleteField(this)">Delete
        </label>
      </div>
      <a class="toggle-tab-button" onclick="toggleTab(this)"></a>
    </div>
  </div>
  <div class="fieldset-body expand">
    <div class="two-column-table">
      <div class="formset">
        {% with name_parts=form.formsets.name_parts %}
        <div class="management_form">
          {{ name_parts.management_form }}
        </div>
        <div class="fieldsets">
          {% for name_part in name_parts.forms %}
          {% include "./name_part_inline_form.html" with form=name_part %}
          {% endfor %}
        </div>
        {% endwith %}
        <label class="button-link create">
          <input type="button" class="icon-only" value="&#xf067;" onclick="addEmptyForm('name_part', this)">Add name part
        </label>
      </div>
      <div>
        {% render_field form.display_name %}
        <div class="two-column-table">
          <div>
            {% render_field form.language %}
          </div>
          <div>
            {% render_field form.script %}
          </div>
        </div>
        {% include "./date_section.html" with form=name_entry only %}
      </div>
    </div>
  </div>
</fieldset>
