{% load editor_form_tags %}
<fieldset data-form-type="place">
  <div class="fieldset-header">
    <h4>{{ form.instance.place|default:"" }}</h4>
    <div class="flex">
      <div>
        {% include "./delete_inline_button.html" %}
      </div>
      <a class="toggle-tab-button active" onclick="toggleTab(this)"></a>
    </div>
  </div>
  <div class="fieldset-body expand inline-deletable">
    {% include "./delete_form_field.html" with form=form %}
    <div class="two-column-table">
      <div>
        {% render_field form.id %}
        {% render_field form.place %}
        {% render_field form.address %}
      </div>
      <div>
        {% render_field form.role %}
        {% include "./date_section.html" with form=form class="date" only %}
      </div>
    </div>
  </div>
</fieldset>
