{% load editor_form_tags %}
<fieldset class="optional-to-delete" data-form-type="place">
  <div class="fieldset-header">
    <h3>{{ form.instance.place|default:"" }}</h3>
    <div class="flex">
      <div>
        QAZ Delete via checkbox
      </div>
      <a class="toggle-tab-button" onclick="toggleTab(this)"></a>
    </div>
  </div>
  <div class="fieldset-body expand">
    <div class="two-column-table">
      <div>
        {% render_field form.id %}
        {% render_field form.place %}
        {% render_field form.address %}
      </div>
      <div>
        {% render_field form.role %}
        {% include "./date_section.html" with form=form class="date" only %}
      </div>
    </div>
  </div>
</fieldset>
