{% load editor_form_tags %}
<fieldset data-form-type="relation">
  <div class="fieldset-header">
    {% if form.instance.relation_type %}
      <h4>{{ form.instance.relation_type|default:"" }}</h4>
    {% endif %}
    <div class="flex">
      <div>
        {% include "./delete_inline_button.html" %}
      </div>
      <a class="toggle-tab-button active" onclick="toggleTab(this)"></a>
    </div>
  </div>
  <div class="fieldset-body expand inline-deletable">
    {% render_form_delete_widget form.DELETE %}
    <div class="two-column-table">
      <div>
        {% render_field form.id %}
        {% render_field form.relation_type %}
        {% render_field form.related_entity %}
        {% include "./date_section.html" with form=form class="date" only %}
      </div>
      <div>
        {% render_field form.relation_detail %}
        {% render_field form.place %}
      </div>
    </div>
  </div>
</fieldset>
