{% load editor_form_tags %}
<fieldset data-form-type="resource">
  <div class="fieldset-header">
    <h4>
      {% if form.instance.relation_type %}
        {{ form.instance.relation_type|default:"" }}
      {% else %}
        Resource
      {% endif %}
    </h4>
    <div class="flex">
      <div>
        {% include "./delete_inline_button.html" %}
      </div>
      <a class="toggle-tab-button active" onclick="toggleTab(this)"></a>
    </div>
  </div>
  <div class="fieldset-body expand inline-deletable">
    {% render_form_delete_widget form.DELETE %}
    <div class="two-column-table">
      <div>
        {% render_field form.id %}
        {% render_field form.relation_type %}
        {% render_field form.url %}
      </div>
      <div>
        {% render_field form.notes %}
      </div>
    </div>
    {% render_field form.citation %}
  </div>
</fieldset>
