{% load editor_form_tags %}
<fieldset data-form-type="source">
  <div class="fieldset-header">
    {% if form.name.value %}
      <h4>{{ form.name.value|default:"" }}</h4>
    {% endif %}
    <div class="flex">
      <div>
        {% include "./delete_inline_button.html" %}
      </div>
      <a class="toggle-tab-button active" onclick="toggleTab(this)"></a>
    </div>
  </div>
  <div class="fieldset-body expand inline-deletable">
    {% render_form_delete_widget form.DELETE %}
    <div class="two-column-table">
      <div>
        {% render_field form.id %}
        {% render_field form.name %}
      </div>
      <div>
        {% render_field form.url %}
      </div>
    </div>
    {% render_field form.notes %}
  </div>
</fieldset>
