{% load editor_form_tags %}
<fieldset data-form-type="source">
  <div class="fieldset-header">
    <h4>
      {% if form.name.value %}
        {{ form.name.value|striptags|safe|default:""|truncatewords:20 }}
      {% else %}
        Source
      {% endif %}
    </h4>
    <div class="flex">
      <div>
        {% include "./delete_inline_button.html" %}
      </div>
      <button class="toggle-tab-button active" onclick="toggleTab(this)"></button>
    </div>
  </div>
  <div class="fieldset-body expand inline-deletable">
    {% render_form_delete_widget form.DELETE %}
    {% render_field form.id %}
    {% render_field form.name %}
    <div class="two-column-table">
      <div>
        {% render_field form.url %}
      </div>
      <div>
      </div>
    </div>
    {% render_field form.notes %}
  </div>
</fieldset>
