{% extends "./base.html" %}
{% load editor_form_tags %}

{% block page_header %}
<div id="page-header">
  <h1>My Dashboard</h1>

  <p>Permission level: <span class="highlight">QAZ: permission group?</span></p>
</div>
{% endblock page_header %}

{% block content %}
<div class="user-contol">
  <!-- <div id="user-details">
    <h2>Details</h2>
    <form action="." method="post" class="two-column-table">
      {% csrf_token %}
      <div>
        {% render_field user_form.first_name %}
        {% render_field user_form.email %}
      </div>
      <div>
        {% render_field user_form.last_name %}
      </div>
      <input type="submit" class="save" value="Save" />
    </form>
  </div>
  <div id="user-password">
    <h2>Change Password</h2>
    <form action="." method="post" class="two-column-table">
      {% csrf_token %}
      {% if form.non_field_errors %}
      <div class="error-notification">
        {{ form.non_field_errors %}
      </div>
      {% endif %}
      <div>
        {% render_field password_form.old_password %}
      </div>
      <div></div>
      <div>
        {% render_field password_form.new_password1 %}
      </div>
      <div>
        {% render_field password_form.new_password2 %}
      </div>
      <input type="submit" class="save" value="Save" />
    </form>
  </div> -->
  <div class="admin">
      <h2>Admin table</h2>
      <table id="admin-table">
          <thead>
              <tr>
                  <th>Username</th>
                  <th>First name</th>
                  <th>Last name</th>
                  <th>Email address</th>
                  <th>Permission level</th>
                  <th></th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              <tr data-content-reference="user">
                  <td>QAZ</td>
                  <td>QAZ</td>
                  <td>QAZ</td>
                  <td>QAZ</td>
                  <td>moderator</td>
                  <td class="button-cell">
                      <button aria-label="edit user" class="button-link" id="edit-form"><i class="far fa-edit"></i> QAZ Edit</button>
                  </td>
                  <td class="button-cell">
                      <button aria-label="delete user" class="button-link danger" onclick="deleteField(this)"><i class="fas fa-trash-alt"></i>QAZ Delete user</button>
                  </td>
              </tr>
          </tbody>
      </table>
      <button aria-label="add user" class="create linked-button" id="add-form"><i class="fal fa-plus"></i>QAZ Add user</button>
  </div>
  <div class="modal" id="edit-user-form">
      <div class="modal-content">
          <div class="modal-header">
              <h2>Edit user details</h2>
              <input type="button" class="icon-only" aria-label="close" onclick="closeBlock('modal')" value="&#xf00d;" />
          </div>
          <div class="modal-body">
              <form action="." method="post">
                <div class="two-column-table">
                  {% csrf_token %}
                  <div>
                    {% render_field user_form.first_name %}
                    {% render_field user_form.last_name %}
                  </div>
                  <div>
                    {% render_field user_form.email %}
                    QAZ Permission level
                  </div>
                </div>
                <input type="checkbox" id="change-password" aria-label="change password"/>
                <label for="change-password">Change password</label>
                <div class="password-fields">
                    {% render_field password_form.old_password %}
                    {% render_field password_form.new_password1 %}
                    {% render_field password_form.new_password2 %}
                </div>
                <input type="submit" class="save" value="Save" />
              </form>
          </div>
      </div>
  </div>
  <div class="modal" id="add-user-form">
      <div class="modal-content">
          <div class="modal-header">
              <h2>Create new user</h2>
              <input type="button" class="icon-only" aria-label="close" onclick="closeBlock('modal')" value="&#xf00d;" />
          </div>
          <div class="modal-body">
              <form action="" method="" id="add-new-user">
                  <div class="two-column-table">
                      <div>
                          <label>
                              <span class="required">Username</span>
                              <input type="text" name="username"/>
                          </label>
                          <label>
                              <span class="required">First name</span>
                              <input type="text" name="first-name"/>
                          </label>
                          <label>
                              <span class="required">Last name</span>
                              <input type="text" name="last-name"/>
                          </label>
                          <label>
                              <span class="required">Email address</span>
                              <input type="email" name="email-address"/>
                          </label>
                      </div>
                      <div>
                          <label>
                              <span class="required">Password</span>
                              <input type="password" name="password"/>
                          </label>
                          <label>
                              <span class="required">Confirm password</span>
                              <input type="password" name="confirm-password"/>
                          </label>
                          <label>
                              <span class="required">Permission level</span>
                              <select name="permission-level">
                                  <option>Select</option>
                                  <option value="Admin">Admin</option>
                                  <option value="Moderator">Moderator</option>
                                  <option value="User">User</option>
                              </select>
                          </label>
                      </div>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <input type="submit" value="Create new user" form="add-new-user" class="save"/>
          </div>
      </div>
  </div>
</div>
{% endblock content %}
