{% extends "./base.html" %}
{% load editor_form_tags %}

{% block page_header %}
<div id="page-header">
  <h1>Account control panel</h1>
</div>
{% endblock page_header %}

{% block content %}
<p>Permission level: <span class="highlight">{{ user.editor_profile.get_role_display }}</span></p>
<div class="user-control">
  <div id="user-details">
    <h2>Personal details</h2>
    <form action="." method="post" class="two-column-table">
      {% csrf_token %}
      <div>
        {% render_field user_form.first_name %}
        {% render_field user_form.email %}
      </div>
      <div>
        {% render_field user_form.last_name %}
      </div>
      <input name="user_submit" type="submit" class="save" value="Save" />
    </form>
  </div>
  <div id="change-password">
      <h2>Change password</h2>
      <form action="." method="post" class="two-column-table">
        {% csrf_token %}
        {% if password_form.errors %}
        <div class="error-notification">
          {{ password_form.errors }}
        </div>
        {% endif %}
        <div>
          {% render_field password_form.old_password %}
        </div>
        <div></div>
        <div>
          {% render_field password_form.new_password1 %}
        </div>
        <div>
          {% render_field password_form.new_password2 %}
        </div>
        <input name="password_submit" type="submit" class="save" value="Save" />
      </form>
  </div>
</div>

{% if all_users_formset %}
<div class="admin">
  <h2>Admin table</h2>

  <form action="." method="post">
    {% csrf_token %}
    {{ all_users_formset.management_form }}
    <table class="admin-table">
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Email address</th>
          <th scope="col">Permission level</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for form in all_users_formset %}
        {% with form_user=form.instance %}
        <tr>
          <td>
            <span class="inline-delete-form-field none">{{ form.DELETE.as_widget }}</span>
            {% render_field form.id %}
            {{ form_user.username }}
          </td>
          <td>{{ form_user.first_name }}</td>
          <td>{{ form_user.last_name }}</td>
          <td>{{ form_user.email }}</td>
          <td>
            {% with profile=form.formsets.editor_profile %}
            {{ profile.management_form }}
            {% render_field profile.forms.0.id %}
            {{ profile.forms.0.role }}
            {% endwith %}
          </td>
          <td class="button-cell">
            <!-- Delete user needs to be a link to {% url 'editor:delete-user' user_id=form_user.pk %} -->
            <button aria-label="delete user" class="button-link danger" onclick="deleteField(this)"><i class="fas fa-trash-alt"></i>Delete user</button>
          </td>
        </tr>
        {% endwith %}
        {% endfor %}
      </tbody>
    </table>
    <!-- Add user needs to be a link to {% url 'editor:user-create' %} -->
    <button aria-label="add user" class="create linked-button" id="add-form"><i class="fal fa-plus"></i>Add user</button>
    <input name="all_users_submit" aria-label="save admin table" type="submit" class="save" value="Save admin table" />
  </form>
</div>
{% endif %}
{% endblock content %}
