{% extends "./base.html" %}

{% block main %}
<main id="duplicates-list-page">
    {% block page_header %}
    <div class="page-header">
        <h1>Duplicates ({{ duplicates_data|length }})</h1>
    </div>
    {% endblock page_header %}
    {% block content %}
    <p>This page lists records that share a display name.</p>

    {% for display_name, duplicates in duplicates_data.items %}
    <div class="duplicate-group">
      <div class="fieldset-header" role="button" onclick="toggleTab()">
        <span class="toggle-tab-button active" aria-label="expand"></span>
        <h2>{{ display_name }} ({{ duplicates|length }} duplicates)</h2>
      </div>
      <div class="fieldset-body expand">
        {% for duplicate in duplicates %}
        <div class="record">
            <a href="{% url 'editor:entity-duplicates' entity_id=duplicate.pk %}" class="default"><i class="fal fa-copy"></i>Manage record</a>
            <div>
                <a href="{% url 'editor:entity-edit' entity_id=duplicate.pk %}" class="dotted-underline">{{ duplicate.display_name }}</a>
                <div class="subitems">
                    <ul>
                    <li>Record ID: {{ duplicate.pk }}</li>
                    <li>Type: {{ duplicate.entity_type }}</li>
                    <li>Publication status: {{ duplicate.control.publication_status }}</li>
                    <li>Updated: {{ duplicate.modified }}</li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
    {% endblock content %}
</main>
{% endblock main %}
