{% extends "./base.html" %}

{% block main %}
<main id="duplicates-list-page">
    {% block page_header %}
    <div class="page-header">
        <h1>Duplicates (2)</h1>
    </div>
    {% endblock page_header %}
    {% block content %}
    <p>This page lists records that share the same display name.</p>
    <div class="duplicate-group">
        <div class="fieldset-header" role="button" onclick="toggleTab()">
            <span class="toggle-tab-button active" aria-label="expand"></span>
            <h2>Entity display name 1 (3 duplicates)</h2>
        </div>
        <div class="fieldset-body expand">
            <div class="record">
                <div class="subitems">
                    <ul>
                        <li class="highlight">Record ID: 1</li>
                        <li>Type: [entity_type]</li>
                        <li>Publication status: [publication_status]</li>
                        <li>Updated: [ entity_updated ]</li>
                    </ul>
                </div> 
                <a href=""><i class="fal fa-copy"></i> <span class="dotted-underline">Manage duplicates of Record ID: 1</span></a><span class="divider"></span><a href="" target="_blank" class="dotted-underline">See [entity_display_name]</a>
            </div>
            <div class="record">
                <div class="subitems">
                    <ul>
                        <li class="highlight">Record ID: 44</li>
                        <li>Type: [entity_type]</li>
                        <li>Publication status: [publication_status]</li>
                        <li>Updated: [ entity_updated ]</li>
                    </ul>
                </div> 
                <a href=""><i class="fal fa-copy"></i> <span class="dotted-underline">Manage duplicates of Record ID: 44</span></a><span class="divider"></span><a href="" target="_blank" class="dotted-underline">See [entity_display_name]</a>
            </div>
            <div class="record">
                <div class="subitems">
                    <ul>
                        <li class="highlight">Record ID: 35</li>
                        <li>Type: [entity_type]</li>
                        <li>Publication status: [publication_status]</li>
                        <li>Updated: [ entity_updated ]</li>
                    </ul>
                </div> 
                <a href=""><i class="fal fa-copy"></i> <span class="dotted-underline">Manage duplicates of Record ID: 35</span></a><span class="divider"></span><a href="" target="_blank" class="dotted-underline">See [entity_display_name]</a>
            </div>
        </div>
    </div>
    <div class="duplicate-group">
        <div class="fieldset-header" role="button" onclick="toggleTab()">
            <span class="toggle-tab-button" aria-label="expand"></span>
            <span>Entity display name 2 (2 duplicates)</span>
        </div>
        <div class="fieldset-body">
            <div class="record">
                <div class="subitems">
                    <ul>
                        <li class="highlight">Record ID: 3</li>
                        <li>Type: [entity_type]</li>
                        <li>Publication status: [publication_status]</li>
                        <li>Updated: [ entity_updated ]</li>
                    </ul>
                </div>
                <a href=""><i class="fal fa-copy"></i> <span class="dotted-underline">Manage duplicates of Record ID: 3</span></a><span class="divider"></span><a href="" target="_blank" class="dotted-underline">See [entity_display_name]</a>
            </div>
            <div class="record">
                <div class="subitems">
                    <ul>
                        <li class="highlight">Record ID: 7</li>
                        <li>Type: [entity_type]</li>
                        <li>Publication status: [publication_status]</li>
                        <li>Updated: [ entity_updated ]</li>
                    </ul>
                </div>
                <a href=""><i class="fal fa-copy"></i> <span class="dotted-underline">Manage duplicates of Record ID: 7</span></a><span class="divider"></span><a href="" target="_blank" class="dotted-underline">See [entity_display_name]</a>
            </div>
        </div>
    </div>
    {% endblock content %}
</main>
{% endblock main %}