{% extends "./base.html" %}
{% block main %}
<main>
  {% block content %}
  <div id="form-page">
    <h1>Create</h1>

    <form action="." method="post" class="one-column">
      {% csrf_token %}
      {{ form.errors }}
      <fieldset>
        <legend hidden>Create a new person or corporate body</legend>
        {% for radio in form.entity_type %}
          <label for="{{ radio.id_for_label }}" class="select-radio-button">{{ radio.tag }}{{ radio.choice_label }}</label>
        {% endfor %}
      </fieldset>
      <div>
        <a class="dotted-underline" href="{% url 'editor:entities-list' %}">Cancel</a>
        <input aria-label="create a new entity" class="create" type="submit" value="Create" />
      </div>
    </form>
  </div>
  {% endblock content %}
</main>
{% endblock main %}