{% extends "./base.html" %}

{% block page_header %}
<div id="page-header">
  <h1>Entities ({{ entity_count }})</h1>
  <form action="." class="search" method="get">
    <label>
      <span hidden>Search</span>
      {{ form.q }}
    </label>
    <input type="submit" class="search-button" aria-label="Search button" value="&#xf002;"/>
  </form>
  <a href="{% url 'editor:entity-create' %}" class="create">Create new entity</a>
</div>
<div class="filters">
  {% for entity_type in facets.fields.entity_type %}
  <input id="{{ entity_type.0 }}-input" name="selected_facets" type="checkbox" aria-label="{{ entity_type.0 }}" value=""/>
  <label for="{{ entity_type.0 }}-input" class="filter">{{ entity_type.0 }} ({{ entity_type.1 }})</label>
  {% endfor %}
</div>
{% endblock page_header %}

{% block content %}
<table id="records">
  <thead>
    <tr>
      <th>Name<i class="fas fa-sort"></i></th>
      <th>Type/level<i class="fas fa-sort"></i></th>
      <th>Publication status<i class="fas fa-sort"></i></th>
      <th>Last edited<i class="fas fa-sort"></i></th>
    </tr>
  </thead>
  <tbody>
    {% for result in object_list %}
    {% with entity=result.object %}
    <tr>
      <td class="description"><a href="{% url 'editor:entity-edit' entity_id=entity.pk %}">{{ entity|truncatewords:15 }}</a></td>
      <td>{{ entity.entity_type }}</td>
      <td></td>
      <td>{{ entity.modified }}</td>
    </tr>
    {% endwith %}
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
