{% extends "./base.html" %}

{% block page_header %}
<div id="page-header">
  <h1>Entities ({{ object_list.count }})</h1>
  <form action="." class="search" method="get">
      <label>
        <span hidden>Search</span>
        {{ form.q }}
      </label>
      <input type="submit" class="search-button" aria-label="Search button" value="&#xf002;"/>
    </form>
    <div class="filter-block">
      <input type="checkbox" class="hidden" id="filter" value="Filter">
      <label for="filter" class="filter-button">Filter</label>
      <form action="." class="filters-hidden" method="get">
          <div>
            <fieldset class="filter-list">
              <legend>Document level</legend>
              {% for entity_type in facets.fields.entity_type %}
              <label for="{{ entity_type.0 }}-input" class="filter">
                <input id="{{ entity_type.0 }}-input" name="selected_facets" type="checkbox" aria-label="{{ entity_type.0 }}" value=""/>
                {{ entity_type.0 }} ({{ entity_type.1 }})
              </label>
              {% endfor %}
            </fieldset>
          </div>
        </form>
    </div>
  <a href="{% url 'editor:entity-create' %}" class="create">Create new entity</a>
</div>
{% endblock page_header %}

{% block content %}
<table id="records" class="tablesorter">
  <thead>
    <tr>
      <th>Title</th>
      <th>Type/level</th>
      <th>Publication status</th>
      <th>Last edited</th>
    </tr>
  </thead>
  <tbody>
    {% for result in object_list %}
    <tr>
      <td class="description"><a href="{% url 'editor:entity-edit' entity_id=result.pk %}">{{ result.description|truncatewords:30 }}</a></td>
      <td>{{ result.entity_type }}</td>
      <td>QAZ</td>
      <td>{{ result.modified }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
