{% extends "./base.html" %}
{% load editor_form_tags %}

{% block page_header %}
<div id="page-header" class="header-fixed">
  <div id="status-bar">
    <ul>
      <li>Publication status: <span class="highlight">{{ entity.control.publication_status }}</span></li>
      <li>Maintenance status: <span class="highlight">{{ entity.control.maintenance_status }}</span></li>
      <li>Last edited: <span class="highlight">QAZ</span></li>
      <li><span class="highlight">{{ entity.modified }}</span></li>
    </ul>
    <a href="{% url 'editor:entity-history' entity_id=entity.pk %}">
      <i class="far fa-clock"></i>
      <span class="dotted-underline">History</span>
    </a>
  </div>
  <div>
    <button aria-label="delete" class="danger-clear" onclick="deleteRecord()">Delete</button>
    <input type="submit" value="Save" form="record-form" class="save"/>
    <a href="{% url 'editor:entity-create' %}" class="create"><i class="fas fa-plus"></i></a>
  </div>
</div>
{% endblock page_header %}

{% block content %}
<div id="form-header">
  <div id="breadcrumbs">
    <ul>
      <li><a href="{% url 'editor:home' %}">HOME</a></li>
      <li><a href="{% url 'editor:entities-list' %}" class="dotted-underline">ENTITIES</a></li>
      <li>{{ entity|truncatewords:15 }}</li>
    </ul>
  </div>

  {% if form.errors %}
  <div class="error-notifications">
    Errors: QAZ
  </div>
  {% endif %}

  <h1>{{ entity }}</h1>
  <h2>{{ entity.entity_type }}</h2>
</div>
<form action="{% url 'editor:entity-edit' entity_id=entity.pk %}" id="record-form" method="post">
  <div class="flex">
    {% render_field form.date_from %}
    {% render_field form.date_to %}
    {% render_field form.display_date %}
  </div>
  <div class="form-section formset">
    <h2>IDENTITIES (QAZ) <span role="button" aria-label="additional info" data-content-type="identities" class="icon-only additional-info-icon">&#xf059;</span></h2>
    <div class="management_form">
      {{ form.formsets.identities.management_form }}
    </div>
    <div class="fieldsets">
      {% for identity in form.formsets.identities.forms %}
      {% include "./includes/identity_inline_form.html" with form=identity %}
      {% endfor %}
    </div>
    <label class="create linked-button">
      <input type="button" class="icon-only" value="&#xf067;" onclick="addEmptyForm('identity', this)">Add identity
    </label>
  </div>
  <div class="form-section">
    <h2>SOURCES (QAZ) <span role="button" aria-label="additional info" data-content-type="sources" class="icon-only additional-info-icon">&#xf059;</span></h2>
    {{ entity.formsets.control.forms.0.formsets.sources.management_form }}
    {% for source in entity.formsets.control.forms.0.formsetes.sources.forms %}
    <fieldset class="optional-to-delete" data-content-reference="sources">
      <div class="fieldset-header">
        <h3>QAZ</h3>
        <div class="flex">
          <div>
            Delete via checkbox
          </div>
          <a class="toggle-tab-button" onclick="toggleTab(this)"></a>
        </div>
      </div>
      <div class="fieldset-body expand">
        <div class="two-column-table">
          <div>
            {% render_field source.name %}
          </div>
          <div>
            {% render_field source.url %}
          </div>
        </div>
        {% render_field source.notes %}
      </div>
    </fieldset>
    {% endfor %}
  </div>
  <div class="form-section">
    <h2>CONTROL (QAZ) <span role="button" aria-label="additional info" data-content-type="control" class="icon-only additional-info-icon">&#xf059;</span></h2>
    {{ entity.formsets.control.management_form }}
    {% for control in entity.formsets.control.forms %}
    <fieldset id="control">
      <div class="fieldset-header">
        <h3>Record ID: QAZ</h3>
        <div>
          <a class="toggle-tab-button" onclick="toggleTab(this)"></a>
        </div>
      </div>
      <div class="fieldset-body expand">
        <div class="two-column-table">
          <div>
            {% render_field control.language %}
            QAZ Rights citation
          </div>
          <div>
            {% render_field control.script %}
            QAZ Rights abbreviation
          </div>
        </div>
        {% render_field control.rights_declaration %}
      </div>
    </fieldset>
    {% endfor %}
  </div>
  <div class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Log comments</h2>
        <input type="button" class="icon-only" aria-label="close" onclick="closeBlock('modal')" value="&#xf00d;" />
      </div>
      <div class="modal-body">
        <div class="two-column-table">
          <div>
            QAZ Publication status
            QAZ Editing event type
          </div>
          <div>
            QAZ Maintenance status
          </div>
        </div>
        QAZ Comments
      </div>
      <div class="modal-footer">
        <input type="submit" value="Save" class="save" />
      </div>
    </div>
  </div>
</form>
<div id="empty_forms" style="display: none;">
  {% comment %}Include an empty form for each sub-form on the page, to
  allow for JS creation of new forms, rather than supplying a set
  number of extra forms server-side.{% endcomment %}
  {% with identity_form=form.formsets.identities.empty_form %}
  {% include "./includes/identity_inline_form.html" with form=identity_form %}
  {% include "./includes/name_entry_inline_form.html" with form=identity_form.formsets.name_entries.empty_form %}
  {% include "./includes/name_part_inline_form.html" with form=identity_form.formsets.name_entries.empty_form.formsets.name_parts.empty_form %}
  {% with description_form=identity_form.formsets.descriptions.empty_form %}
  {% include "./includes/description_inline_form.html" with form=description_form %}
  {% include "./includes/local_description_inline_form.html" with form=description_form.formsets.local_descriptions.empty_form %}
  {% include "./includes/biography_history_inline_form.html" with form=description_form.formsets.biography_histories.empty_form %}
  {% include "./includes/event_inline_form.html" with form=description_form.formsets.biography_histories.empty_form.formsets.events.empty_form %}
  {% include "./includes/language_script_inline_form.html" with form=description_form.formsets.language_scripts.empty_form %}
  {% include "./includes/place_inline_form.html" with form=description_form.formsets.places.empty_form %}
  {% include "./includes/mandate_inline_form.html" with form=description_form.formsets.mandates.empty_form %}
  {% include "./includes/legal_status_inline_form.html" with form=description_form.formsets.legal_statuses.empty_form %}
  {% endwith %}
  {% include "./includes/relation_inline_form.html" with form=identity_form.formsets.relations.empty_form %}
  {% include "./includes/resource_inline_form.html" with form=identity_form.formsets.resources.empty_form %}
  {% endwith %}
</div>
{% endblock content %}
