{% extends "./base.html" %}
{% load editor_form_tags %}

{% block extra_head %}
{{ form_media }}
{% endblock extra_head %}

{% block main %}
<main id="group-edit">
  {% block page_header %}
  <div class="header-fixed">
    <div class="status-bar">
      <input type="checkbox" id="document-status-checkbox" class="none" value="Document status" aria-label="document-status"/>
      <label class="mobile-only" for="document-status-checkbox">Status</label>
      <div class="mobile-hide">
        <ul>
          <li>Publication status:
            {% if is_deleted %} 
              <span class="highlight danger-clear">(deleted)</span>
            {% endif %}
          </li>
          <li>Updated: <span class="highlight">{{ last_revision.date_created }}</span> by <span class="highlight">{{ last_revision.user }}</span></li>
          <li>
            <a href="{% url 'editor:group-history' group_id=group.pk %}">
              <i class="far fa-clock"></i>
              <span class="dotted-underline">History</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="action-buttons">
      {% if not is_deleted %}<button aria-label="delete" class="danger-clear" onclick="showModal('delete-modal')"><i class="far fa-trash-alt"></i> Delete</button>{% endif %}
      <input type="submit" value="{% if is_deleted %}Restore{% else %}Save{% endif %}" form="record-form" class="save"/>
    </div>
  </div>
  {% endblock page_header %}

  {% block content %}
  <div class="form-header">
    <div class="breadcrumbs">
      <ul>
        <li><a href="{% url 'editor:home' %}">Home</a></li>
        <li>{% if current_section == 'groups' %}<a href="{% url 'editor:groups-list' %}" class="dotted-underline">Object groups</a>{% else %}<a href="{% url 'editor:deleted-list' %}" class="dotted-underline">Deleted</a>{% endif %}</li>
      </ul>
    </div>

    {% if form.errors %}
    <div class="error-notification">
      <button class="icon-only" aria-label="close notification" onclick="removeNotification()">&#xf00d;</button>
      <h4>Errors</h4>
      {% for error in form.errors %}
      <p>{{ error }}</p>
      {% endfor %}
    </div>
    {% endif %}

    {% if saved %}
    <div class="success-notification">
      <button class="icon-only" aria-label="close notification" onclick="removeNotification()">&#xf00d;</button>
      <h4>Your edits were successfully saved.</h4>
    </div>
    {% elif reverted %}
    <div class="success-notification">
      <button class="icon-only" aria-label="close notification" onclick="removeNotification()">&#xf00d;</button>
      <h4>The version was sucessfully restored, (version id: {{ reverted }}).</h4>
    </div>
    {% endif %}

    <h1>{{ group.title }}</h1>

  </div>
  <form action="{% url 'editor:group-edit' group_id=group.pk %}" id="record-form" method="post">
    {% csrf_token %}
    <div class="form-section formset">
      <fieldset>
          <div class="fieldset-body expand">
              <div class="two-column-table">
                <div>
                  {% render_field form.id %}
                  {% render_field form.title %}
                  {% render_field form.slug %}
                </div>
                <div>
                </div>
                {% render_field form.introduction %}
              </div>
              {% render_field form.description %}
              <div class="two-column-table">
                <div>
                  <!-- TODO for OL: add tooltips -->
                  {% render_field form.collections %}
                  <!-- the list should be based on the selected collections -->
                  <!-- TODO for OL: add a tooltip to explain that how the field works -->
                  {% render_field form.records %}
                </div>
                <div>
                  {% render_field form.related_entities %}
                  {% render_field form.featured_entities %}
                </div>
              </div>
          </div>
      </fieldset>
    </div>
    <div class="modal" id="log-modal">
      <div class="modal-content">
        <div class="modal-header">
          <h2>Log comments</h2>
          <input type="button" class="icon-only modal-cancel" aria-label="close" value="&#xf00d;" />
        </div>
        <div class="modal-body">
          {% render_field log_form.comment %}
        </div>
        <div class="modal-footer">
          <input type="submit" value="Save" class="save modal-submit" />
        </div>
      </div>
    </div>
  </form>
  {% include "./includes/delete_modal.html" with delete_url=delete_url %}
  <div id="empty_forms" style="display: none;">

  </div>
  {% endblock content %}
</main>
{% endblock main %}
