{% extends "./base.html" %}

{% block main %}
<main id="object-groups-page">
    {% block page_header %}
    <div class="page-header">
        <h1>Object groups</h1>
        <a href="{% url 'editor:group-create' %}" class="create">Create</a>
    </div>
    {% endblock page_header %}
    {% block content %}
    <p>This page lists object groups created for the frontend website users.</p>

    <div class="table-container">
        <table id="records-table" class="tablesorter">
            <thead>
                <tr>
                <th class="description" scope="col" data-label="Title" data-placeholder="Filter by name">Name</th>
                <th class="sorter-sugar" scope="col" data-label="Updated" data-placeholder="Filter by date">Updated</th>
                </tr>
            </thead>
            <tbody>
              {% for group in groups %}
              <tr>
                <td class="description group"><a href="{% url 'editor:group-edit' group_id=group.pk %}">{{ group.title }}</a></td>
                <td data-text="group.modified.isoformat">{{ group.modified }}</td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock content %}
</main>
{% endblock main %}
