{% extends "./base.html" %}
{% load editor_form_tags %}
{% block main %}
<main id="hierarchy">
    {% block content %}
        <a href="{{ edit_url }}"><i class="fas fa-chevron-left margin-right"></i><span class="dotted-underline">Back to {{ item|truncatewords:15 }}</span></a>

        <div class="page-header">
            <h1>Hierarchy browser</h1>
            <div class="search-filter">
                <form action="." class="search" method="get" id="hierarchy-search-form">
                    <label>
                      <span hidden>Search</span>
                      <input type="search" id="hierarchy-search-field" onkeyup="hierarchyInstantSearch()" placeholder="Search in this hierarchy by display name" onfocus="this.placeholder=''" onblur="this.placeholder='Search by display name'"/>
                    </label>
                    <!-- no action needed onsubmit as the results are searched instantly with jquery; potentially this button can be removed.-->
                    <input type="submit" class="search-button" aria-label="Search button" value="&#xf002;" disabled/>
                </form>
                <div class="expand-collapse">
                    <button class="button-link dotted-underline" onclick="toggleExpand(this)">Expand all</button>
                </div>
            </div>
        </div>
        <div class="not-expanded parent-level">
          {% render_record_hierarchy_item root_ancestor item ancestors %}
        </div>
    {% endblock content %}
</main>
{% endblock main %}
