{% extends "./base.html" %}
{% block main %}
<main id="hierarchy">
    {% block content %}
        <a href="{{ edit_url }}"><i class="fas fa-chevron-left margin-right"></i><span class="dotted-underline">Back to {{ item|truncatewords:15 }}</span></a>

        <div class="page-header">
            <h1>Hierarchy browser</h1>
            <div class="search-filter">
                <form action="." class="search" method="get" id="hierarchy-search-form">
                    <label>
                      <span hidden>Search</span>
                      <input type="search" id="duplicates-search-field" placeholder="Search in this hierarchy by display name" onfocus="this.placeholder=''" onblur="this.placeholder='Search by display name'"/>
                    </label>
                    <!-- no action needed onsubmit as the results are searched instantly with jquery; potentially this button can be removed.-->
                    <input type="submit" class="search-button" aria-label="Search button" value="&#xf002;" disabled/>
                </form>
                <div class="expand-collapse">
                    <button class="button-link dotted-underline" onclick="toggleExpand(this)">Expand all</button>
                </div>
            </div>
        </div>
        <div class="error-notification">This page is currently under development.</div>
        <div class="not-expanded collections-level">
            <div class="fieldset-header">
                <button class="toggle-tab-button active" onclick="toggleTab(this)"><span hidden>Expand</span></button>
                <span>
                    <a href="" class="dotted-underline mgn-right">Collection title</a> (2 series)
                </span>
                <span class="record-details">
                    <span>Collection</span>
                    <span>RA reference</span>
                    <span>Creation date</span>
                </span>
            </div>
            <div class="fieldset-body expand">
                <div class="series-level">
                    <div class="fieldset-header">
                        <button class="toggle-tab-button active" onclick="toggleTab(this)"><span hidden>Expand</span></button>
                        <span>
                            <a href="" class="dotted-underline mgn-right">Series title 1</a> (2 subseries)
                        </span>
                        <span class="record-details">
                            <span>Series</span>
                            <span>RA reference</span>
                            <span>Creation date</span>
                        </span>
                    </div>
                    <div class="fieldset-body expand">
                        <div class="subseries-level">
                            <div class="fieldset-header">
                                <button class="toggle-tab-button active" onclick="toggleTab(this)"><span hidden>Expand</span></button>
                                <span>
                                    <a href="" class="dotted-underline mgn-right">Subseries title 1</a> (2 files)
                                </span>
                                <span class="record-details">
                                    <span>Subseries</span>
                                    <span>RA reference</span>
                                    <span>Creation date</span>
                                </span>
                            </div>
                            <div class="fieldset-body expand">
                                <div class="files-level">
                                    <div class="fieldset-header">
                                        <button class="toggle-tab-button active" onclick="toggleTab(this)"><span hidden>Expand</span></button>
                                        <span>
                                            <a href="" class="dotted-underline mgn-right">File title 1</a> (4 items)
                                        </span>
                                        <span class="record-details">
                                            <span>File</span>
                                            <span>RA reference</span>
                                            <span>Creation date</span>
                                        </span>
                                    </div>
                                    <div class="fieldset-body expand">
                                        <div class="items-level">
                                            <div class="fieldset-header">
                                                <span></span>
                                                <span class="browsed-item">
                                                    <a href="" class="dotted-underline">Item title 1</a>
                                                </span>
                                                <span class="record-details">
                                                    <span>Item</span>
                                                    <span>RA reference</span>
                                                    <span>Creation date</span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="items-level">
                                            <div class="fieldset-header">
                                                <span></span>
                                                <span>
                                                    <a href="" class="dotted-underline">Item title 2</a>
                                                </span>
                                                <span class="record-details">
                                                    <span>Item</span>
                                                    <span>RA reference</span>
                                                    <span>Creation date</span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="items-level">
                                            <div class="fieldset-header">
                                                <span></span>
                                                <span>
                                                    <a href="" class="dotted-underline">Item title 3</a>
                                                </span>
                                                <span class="record-details">
                                                    <span>Item</span>
                                                    <span>RA reference</span>
                                                    <span>Creation date</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="files-level">
                                    <div class="fieldset-header">
                                        <button class="toggle-tab-button" onclick="toggleTab(this)"><span hidden>Expand</span></button>
                                        <span>
                                            <a href="" class="dotted-underline mgn-right">File title 2</a> (4 items)
                                        </span>
                                        <span class="record-details">
                                            <span>File</span>
                                            <span>RA reference</span>
                                            <span>Creation date</span>
                                        </span>
                                    </div>
                                    <div class="fieldset-body">
                                        <div class="items-level">
                                            <div class="fieldset-header">
                                                <span></span>
                                                <span>
                                                    <a href="" class="dotted-underline">Item title 1</a>
                                                </span>
                                                <span class="record-details">
                                                    <span>Item</span>
                                                    <span>RA reference</span>
                                                    <span>Creation date</span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="items-level">
                                            <div class="fieldset-header">
                                                <span></span>
                                                <span>
                                                    <a href="" class="dotted-underline">Item title 2</a>
                                                </span>
                                                <span class="record-details">
                                                    <span>Item</span>
                                                    <span>RA reference</span>
                                                    <span>Creation date</span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="items-level">
                                            <div class="fieldset-header">
                                                <span></span>
                                                <span>
                                                    <a href="" class="dotted-underline">Item title 3</a>
                                                </span>
                                                <span class="record-details">
                                                    <span>Item</span>
                                                    <span>RA reference</span>
                                                    <span>Creation date</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="series-level">
                    <div class="fieldset-header">
                        <button class="toggle-tab-button" onclick="toggleTab(this)"><span hidden>Expand</span></button>
                        <span>
                            <a href="" class="dotted-underline mgn-right">Series title 2</a> (2 files)
                        </span>
                        <span class="record-details">
                            <span>Series</span>
                            <span>RA reference</span>
                            <span>Creation date</span>
                        </span>
                    </div>
                    <div class="fieldset-body">
                        <div class="files-level">
                            <div class="fieldset-header">
                                <button class="toggle-tab-button" onclick="toggleTab(this)"><span hidden>Expand</span></button>
                                <span>
                                    <a href="" class="dotted-underline mgn-right">File title 1</a> (4 items)
                                </span>
                                <span class="record-details">
                                    <span>File</span>
                                    <span>RA reference</span>
                                    <span>Creation date</span>
                                </span>
                            </div>
                            <div class="fieldset-body">
                                <div class="items-level">
                                    <div class="fieldset-header">
                                        <span></span>
                                        <span>
                                            <a href="" class="dotted-underline">Item title 1</a>
                                        </span>
                                        <span class="record-details">
                                            <span>Item</span>
                                            <span>RA reference</span>
                                            <span>Creation date</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="items-level">
                                    <div class="fieldset-header">
                                        <span></span>
                                        <span>
                                            <a href="" class="dotted-underline">Item title 2</a>
                                        </span>
                                        <span class="record-details">
                                            <span>Item</span>
                                            <span>RA reference</span>
                                            <span>Creation date</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="items-level">
                                    <div class="fieldset-header">
                                        <span></span>
                                        <span>
                                            <a href="" class="dotted-underline">Item title 3</a>
                                        </span>
                                        <span class="record-details">
                                            <span>Item</span>
                                            <span>RA reference</span>
                                            <span>Creation date</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock content %}
</main>
{% endblock main %}