{% extends "./base.html" %}

{% block main %}
<main>
  {% block page_header %}
  <div class="page-header">
    {% if query %}
      <h1>Search results</h1>
      {% else %}
      <h1>Dashboard</h1>
    {% endif%}
    <form class="search">
      <label>
        <span hidden>Search</span>
        {{ form.q }}
      </label>
      <input type="submit" class="search-button" aria-label="Search button" value="&#xf002;"/>
    </form>
  </div>
  {% endblock page_header %}

  {% block content %}
  <div class="home">
    {% if query %}
    <h2>{{ object_list.count }} search results for "{{ query }}"</h2>
    <div class="table-container">
      <table class="tablesorter" id="search-results-table">
          <thead>
            <tr>
              <th scope="col" data-label="Title">Title</th>
              <th class="filter-select" scope="col" data-label="Type/level">Type/level</th>
              <th class="filter-select" scope="col" data-label="Publication status">Publication status</th>
              <th scope="col" data-label="Updated" class="sorter-sugar">Updated</th>
            </tr>
          </thead>
          <tbody>
            {% for result in object_list %}
            <tr>
              {% if result.model_name == 'entity' %}
              <td class="description entity"><a href="{% url 'editor:entity-edit' entity_id=result.pk %}">{{ result.description }}</a></td>
              <td>{{ result.entity_type }}</td>
              {% else %}
              <td class="description archival-record"><a href="{% url 'editor:record-edit' record_id=result.pk %}">{{ result.description|truncatewords:30 }}</a></td>
              <td>{{ result.archival_level }}</td>
              {% endif %}
              <td>{{ result.publication_status }}
                {% if result.maintenance_status.title == "deleted" %}
                   (deleted)
                {% endif %}
              </td>
              <td data-text="{{ result.modified.isoformat }}">{{ result.modified }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
    <div id="search-results-table_pager_info" class="pager">
      {% if object_list.count > 10 %}
        <div class="page-size">
          <p>
            rows per page:
            <a href="#" data-label="10">10</a>
            {% if object_list.count > 25 %}
            | <a href="#" data-label="25">25</a>
            {% if object_list.count > 50 %}
            | <a href="#" data-label="50">50</a>
              {% if object_list.count > 100 %}
              |  <a href="#" data-label="100">100</a>
              {% endif %}
            {% endif %}
          {% endif %}
          </p>
        </div>
        <div class="page-list">
          <button class="first"><i class="fal fa-step-backward"></i></button>
          <button class="prev"><i class="fal fa-caret-left"></i></button>
          <span class="pagecount"></span>
          <button class="next"><i class="fal fa-caret-right"></i></button>
          <button class="last"><i class="fal fa-step-forward"></i></button>
        </div>
      {% endif %}
    </div>

    <!-- if not search results page -->
    {% else %}
    <h2>Recently modified by me ({{recently_modified_entities.count|add:recently_modified_records.count}})</h2>
    <!-- display table if there are any recently modified records -->
    {% if recently_modified_entities or recently_modified_records %}
    <div class="table-container">
      <table id="modified-table" class="tablesorter">
          <thead>
              <tr>
                <th scope="col" data-label="Title">Title</th>
                <th class="filter-select" scope="col" data-label="Type/level">Type/level</th>
                <th class="filter-select" scope="col" data-label="Publication status">Publication status</th>
                <th scope="col" data-label="Updated" class="sorter-sugar">Updated</th>
              </tr>
            </thead>
          <tbody>
            {% for record in recently_modified_records %}
            <tr>
              <td class="description archival-record"><a href="{% url 'editor:record-edit' record_id=record.pk %}">{{ record }}</a></td>
              <td>{{ record.archival_level }}</td>
              <td>
                {{ record.publication_status }}
                {% if record.maintenance_status.title == "deleted" %}
                   (deleted)
                {% endif %}
              </td>
              <td data-text="{{ record.modified.isoformat }}">{{ record.modified }}</td>
            </tr>
            {% endfor %}
            {% for entity in recently_modified_entities %}
            <tr>
              <td class="description entity"><a href="{% url 'editor:entity-edit' entity_id=entity.pk %}">{{ entity }}</a></td>
              <td>{{ entity.entity_type }}</td>
              <td>
                {{ entity.control.publication_status }}
                {% if entity.control.maintenance_status.title == "deleted" %}
                 (deleted)
                {% endif %}
              </td>
              <td data-text="{{ entity.modified.isoformat }}">{{ entity.modified }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
      <!-- if count of records and entities exceeds 10, add pagination -->
      <div id="modified-table_pager_info" class="pager">
        {% if recently_modified_entities.count|add:recently_modified_records.count > 10 %}
          <div class="page-size">
            <p>
              rows per page:
              <a href="#" data-label="10">10</a>
              {% if recently_modified_entities.count|add:recently_modified_records.count > 25 %}
                | <a href="#" data-label="25">25</a>
                {% if recently_modified_entities.count|add:recently_modified_records.count > 50 %}
                | <a href="#"  data-label="50">50</a>
                  {% if recently_modified_entities.count|add:recently_modified_records.count > 100 %}
                  | <a href="#"  data-label="100">100</a>
                  {% endif%}
                {% endif %}
              {% endif %}
            </p>
          </div>
          <div class="page-list">
            <button class="first"><i class="fal fa-step-backward"></i></button>
            <button class="prev"><i class="fal fa-caret-left"></i></button>
            <span class="pagecount"></span>
            <button class="next"><i class="fal fa-caret-right"></i></button>
            <button class="last"><i class="fal fa-step-forward"></i></button>
          </div>
        {% endif %}
      </div>
      {% else %}
      <div class="empty-block">
        <p>You don't have recently modified records.</p>
        <p>Browse <a href="{% url 'editor:entities-list' %}" class="dotted-underline">People and corporate bodies</a> and <a href="{% url 'editor:records-list' %}" class="dotted-underline">Archival records</a>.</p>
      </div>
    {% endif %}
    
    {% if unpublished_records is not None or unpublished_entities is not None %}
    <!-- should be available for moderators and admins. Moderators should be able to approve the records for publication and admins should be able to publish them. -->
      <h2>Records for approval/publication ({{unpublished_entities.count|add:unpublished_records.count}})</h2>
      <div class="table-container">
        <table id="publication-table" class="tablesorter">
            <thead>
              <tr>
                <th scope="col" data-label="Title">Title</th>
                <th class="filter-select" scope="col" data-label="Type/level">Type/level</th>
                <th class="filter-select" scope="col" data-label="Publication status">Publication status</th>
                <th scope="col" data-label="Updated" class="sorter-sugar">Updated</th>
              </tr>
            </thead>
            <tbody>
              {% for record in unpublished_records %}
              <tr>
                <td class="description archival-record"><a href="{% url 'editor:record-edit' record_id=record.pk %}">{{ record }}</a></td>
                <td>{{ record.archival_level }}</td>
                <td>{{ record.publication_status }}</td>
                <td data-text="{{ record.modified.isoformat }}">{{ record.modified }}</td>
              </tr>
              {% endfor %}
              {% for entity in unpublished_entities %}
              <tr>
                <td class="description entity"><a href="{% url 'editor:entity-edit' entity_id=entity.pk %}">{{ entity }}</a></td>
                <td>{{ entity.entity_type }}</td>
                <td>{{ entity.control.publication_status }}</td>
                <td data-text="{{ entity.modified.isoformat }}">{{ entity.modified }}</td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
      </div>
      <!-- if count of records and entities exceeds 10, add pagination -->
      <div id="publication-table_pager_info" class="pager">
        {% if unpublished_entities.count|add:unpublished_records.count > 10 %}
          <div class="page-size">
            <p>
              rows per page:
              <a href="#" data-label="10">10</a>
              {% if unpublished_entities.count|add:unpublished_records.count > 25 %}
                | <a href="#" data-label="25">25</a>
                {% if unpublished_entities.count|add:unpublished_records.count > 50 %}
                | <a href="#" data-label="50">50</a>
                  {% if unpublished_entities.count|add:unpublished_records.count > 100 %}
                  | <a href="#" data-label="100">100</a>
                  {% endif%}
                {% endif %}
              {% endif %}
            </p>
          </div>
          <div class="page-list">
            <button class="first"><i class="fal fa-step-backward"></i></button>
            <button class="prev"><i class="fal fa-caret-left"></i></button>
            <span class="pagecount"></span>
            <button class="next"><i class="fal fa-caret-right"></i></button>
            <button class="last"><i class="fal fa-step-forward"></i></button>
          </div>
        {% endif %}
      </div>
    {% endif %}
  {% endif %}
  </div>
  {% endblock content %}
</main>
{% endblock main %}
