{% extends "./base.html" %}

{% block page_header %}
<div id="page-header">
  <h1>Home</h1>
  <form class="search">
    <label>
      <span hidden>Search</span>
      {{ form.q }}
    </label>
    <input type="submit" class="search-button" aria-label="Search button" value="&#xf002;"/>
  </form>
</div>
{% endblock page_header %}

{% block content %}
<div class="home">
  <h2>Records for publication</h2>
  <table id="publication-table" class="tablesorter">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Record type</th>
          <th scope="col">Type/level</th>
          <th scope="col">Publication status</th>
          <th scope="col">Updated</th>
        </tr>
      </thead>
      <tbody>
        <!-- TODO: add pagination and limit to 5 records per page -->
        {% for result in object_list %}
        <tr>
          {% if result.model_name == 'entity' %}
          <td class="description">
            <a href="{% url 'editor:entity-edit' entity_id=result.pk %}">{{ result.description }}</a>
          </td>
          <td>Entity</td>
          <td>{{ result.entity_type }}</td>
          <td></td>
          <td>{{ result.modified }}</td>
          {% else %}
          <td class="description">
            <a href="{% url 'editor:record-edit' record_id=result.pk %}">{{ result.description|truncatewords:15 }}</a>
          </td>
          <td>Archival record</td>
          <td>{{ result.archival_level }}</td>
          <td>{{ result.publication_status }}</td>
          <td>[record datetime]</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
  </table>
  <h2>Recently updated by me</h2>
  <table id="publication-table" class="tablesorter">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Record type</th>
          <th scope="col">Type/level</th>
          <th scope="col">Publication status</th>
          <th scope="col">Updated</th>
        </tr>
      </thead>
      <tbody>
        <!-- TODO: add pagination and limit to 5 records per page-->
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
</div>
{% endblock content %}