{% extends "./base.html" %}

{% block page_header %}
<div id="page-header">
  <h1>My Dashboard</h1>
  <form class="search">
    <label>
      <span hidden>Search</span>
      {{ form.q }}
    </label>
    <input type="submit" class="search-button" aria-label="Search button" value="&#xf002;"/>
  </form>
</div>
{% endblock page_header %}

{% block content %}
<div class="home">
  <!-- should be available for moderators and admins. Moderators should be able to approve the records for publication and admins should be able to publish them. -->
  <h2>Records for publication</h2>
  <table id="publication-table" class="tablesorter">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Record type</th>
          <th scope="col">Type/level</th>
          <th scope="col">Publication status</th>
          <th scope="col">Updated</th>
        </tr>
      </thead>
      <tbody>
        <!-- TODO: add pagination and limit to 5 records per page -->
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
  </table>
  <h2>Recently updated by me</h2>
  <table id="publication-table" class="tablesorter">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Record type</th>
          <th scope="col">Type/level</th>
          <th scope="col">Publication status</th>
          <th scope="col">Updated</th>
        </tr>
      </thead>
      <tbody>
        <!-- TODO: add pagination and limit to 5 records per page-->
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
</div>
{% endblock content %}