{% extends "./base.html" %}

{% block main %}
<main class="guidance-page">
    {% block page_header %}
    <h1>How to use Collaborative Workspace (CWS)</h1>
    {% endblock page_header %}
    {% block content %}
    <div class="guidance-group">
        <div class="fieldset-header" role="button" onclick="toggleTab()">
          <span class="toggle-tab-button" aria-expanded="false"></span>
          <h2>Searching for an archival record/person/corporate body</h2>
        </div>
        <div class="fieldset-body">
            <h3>From Dashboard page</h3>
            <ol>
                <li>
                    <p><span class="highlight">Searching all records</span> - Type the archival record name or person/corporate body name into the <span class="element">Search catalogue</span> field at the top of the page and press <span class="element">Enter</span>.</p>
                    <p class="details">You can also search by other identifiers:</p>
                    <ul class="details">
                        <li><span class="highlight">For archival records</span>: RA reference, writer name, addressee name, date of writing, or content from the record description;</li>
                        <li><span class="highlight">For people and corporate bodies</span>: a person’s or corporate body’s display name, e.g/, "George III, 1738-1820, King of Great Britain and Ireland"; their birth and death dates or existence dates; a person’s gender; or content from their biography/history abstract.</li>
                    </ul>
                </li>
                <li><span class="highlight">Searching recently modified records or records that are ready for approval/publication</span> - Type record name or person/corporate body name into the Filter by title field at the top of the Recently modified by me (or Records for approval/publication) table and press Enter.
                </li>
            </ol>
        
            <h3>From Archival records page</h3>
                <ol>
                    <li>
                        <p>Type the record name into the <span class="element">Search all archival records</span> field at the top of the page and press <span class="element">Enter</span>.</p>
                        <p class="details">You can also search by the following identifiers: RA reference, writer name, addressee name, date of writing, or content from the record description.</p>
                        <p>Alternatively, type the record name into the <span class="element">Title</span> field at the top of the table and press <span class="element">Enter</span>.</p>
                    </li>
                    <li>
                        <p><span class="highlight">On the search results page</span>, you can filter your results even more by searching within the table:</p>
                        <ul class="details">
                            <li>By original document <span class="highlight">Writer</span> by typing the writer name in the Writer field;</li>
                            <li>By record <span class="highlight">Level</span> by selecting the record level from the drop down menu;</li>
                            <li>By <span class="highlight">Publication status</span> by selecting the publication by drop down menu;</li>
                            <li>By the date the record was last <span class="highlight">Updated</span> by typing an appropriate date.</li>
                        </ul>
                    </li>
                    <li>
                        <p><span class="highlight">Filtering</span> - There are further filter options that can be accessed at the top right of the page by clicking on the <span class="element">Filter</span> button. Options included are:</p>
                        <ul class="details">
                            <li><span class="highlight">Creation year</span> - either slide the two buttons along the slider or type in a date range in the two boxes below and click on the Filter button to limit search results to a creation year date range;</li>
                            <li><span class="highlight">Document level</span> - tick the box/es to filter by archival record level, i.e., Collection, series, sub-series, file, sub-file, item;</li>
                            <li><span class="highlight">Record type</span> - tick the box/es to filter by record type/s, e.g. Diaries, Correspondence, etc.<br>As there may be a number of record types, available to choose, you can expand the currently viewable options by clicking on the nearby underlined <span class="element">Show all</span> link;</li>
                            <li><span class="highlight">Writer</span> - type in the writer’s name by which you want to filter and/or tick on the box/es alongside the names listed.<br>As there may be a number of writers available to choose, you can expand the currently viewable options by clicking on the nearby underlined <span class="element">Show all</span> link;</li>
                            <li><span class="highlight">Addressee</span> - type in the addressee’s name by which you want to filter and/or tick on the box/es alongside the names listed.<br>As there may be a number of addressees available to choose, you can expand the currently viewable options by clicking on the nearby underlined <span class="element">Show all</span> link;</li>
                            <li><span class="highlight">Language</span> - tick the box/es to filter by language.</li>
                        </ul>
                        <p>To clear applied filters, click on those fields already selected to filter by in the <span class="element">Filter</span> menu or under the <span class="element">Selected filters</span> heading on the Archival records page. Or click on the underlined <span class="element">Clear all filters</span> link under the same heading.</p>
                    </li>
            </ol>
            <h3>From People and corporate bodies page</h3>
            <ol>
                <li>
                    <p>Type the person or corporate body name into the Search all people and corporate bodies field at the top of the page and press enter.</p>
                    <p class="details">You can also search by the following identifiers: a person’s or corporate body’s display name, e.g., George III, 1738-1820, King of Great Britain and Ireland; their birth and death dates or existence dates; a person’s gender; or content from their biography/history abstract.</p>
                    <p>Alternatively, type the person or corporate body name into the name field at the top of the table and press enter.</p>
                </li>
                <li>
                    <p><span class="highlight">On the search results page</span>, you can filter your results even more by searching within the table:</p>
                    <ul class="details">
                        <li>By <span class="highlight">Type</span> by selecting the record type from the drop down menu;</li>
                        <li>By <span class="highlight">Publication status</span> by selecting the publication by drop down menu;</li>
                        <li>By the date the record was last <span class="highlight">Updated</span> by typing an appropriate date.</li>
                    </ul>
                </li>
                <li>
                    <p><span class="highlight">Filtering</span> - There are further filter options that can be accessed at the top right of the page by clicking on the <span class="element">Filter</span> button. Options included are:</p>
                    <ul class="details">
                        <li><span class="highlight">Existence dates</span> - either slide the two buttons along the slider or type in a date range in the two boxes below and click on the Filter button to limit search results to existence date range</li>
                        <li><span class="highlight">Entity type</span> - tick either the person or corporateBody box to filter records by entity type</li>
                        <li><span class="highlight">Related people and corporate bodies</span> - type in a related person’s or corporate body’s name by which you want to filter and/or tick on the box/es alongside the names listed.<br>As there may be a number of related people and corporate bodies available to choose, you can expand the currently viewable options by clicking on the nearby underlined <span class="element">Show all</span> link.</li>
                    </ul>
                    <p>To clear applied filters, click on those fields already selected to filter by in the <span class="element">Filter</span> menu or under the <span class="element">Selected filters</span> heading on the People and corporate bodies page. Or click on the underlined <span class="element">Clear all filters</span> link under the same heading.</p>
                </li>
                
            </ol>
        </div>
    </div>
    <div class="guidance-group">
        <div class="fieldset-header" role="button" onclick="toggleTab()">
            <span class="toggle-tab-button" aria-expanded="false"></span>
            <h2>Editing an existing archival record/person/corporate body</h2>
        </div>
        <div class="fieldset-body">
            <h3>Editing an existing records/entity page</h3>
            <p>Fields within the Collaborative Workspace may be either free text, rich text, controlled or drop-down. They may allow for multiple entries, such as subjects, or be restrictive, such as allowing only a singular date.</p>
            <p class="details highlight">NB:</p>
            <ul class="details">
                <li>Not all fields are available to edit; these fields are mostly administrative;</li>
                <li>Not all fields are available to edit at all levels, e.g., Moderators may edit fields that Editors may not;</li>
                <li>Not all fields are available at all archival levels, i.e., some fields that are used in collection level records are not used in records further down the hierarchy.</li>
            </ul>
            <h3>Editing an existing records page</h3>
            <ol>
                <li><span class="highlight">Editing a:</span>
                    <ul>
                        <li>
                            <p><span class="highlight">Free text field</span> - information can be added directly into the field, you may use punctuation, e.g., <span class="element">Location of originals</span>;</p>
                            <p class="details">Restrictive fields like <span class="element">URL</span> expect the inclusion of a usable URL beginning http:// or https://</p></li>
                        <li><span class="highlight">Rich text field</span> - information can be added directly into the field and there is formatting functionality available, e.g., <span class="element">Known previous publications</span>;</li>
                        <li>
                            <p><span class="highlight">Controlled vocabulary/thesaurus/name authority file field</span> - begin typing the information you wish to include in the field and you will be presented with a list of terms that match what you have typed. Choose from what is offered to include that term in the field, e.g., <span class="element">Place of writing</span>, <span class="element">Subjects</span>;</p>
                            <p>If the place, term, person or corporate body you are searching for are not available, you may do the following:</p>
                            <ul class="details">
                                <li><span class="highlight">Place</span> - if the specific place you are looking for is not available consider using a less specific geographic name.<br>
                                E.g. Use St. James’s for Carlton House and include a reference to Carlton House in the record Description.</li>
                                <li><span class="highlight">Subject</span> - if the specific term you are looking for is not available consider using one of the other terms suggested or explore UKAT (United Kingdom Archival Thesaurus) for other terms to use.<br>
                                E.g. American Revolution is an alternative form of American War of Independence (1775-1783), the preferred term for this event which should be used. UKAT will suggest preferred terms if alternative terms are typed into the field.</li>
                                <li><span class="highlight">People or corporate bodies fields</span>, such as <span class="element">Writer</span>, <span class="element">Address</span>, <span class="element">Person as subject</span>, or <span class="element">Corporate body as subject</span>, may only be populated with people or corporate bodies that have records already in the Collaborative Workspace.<br>If you are trying to add a person that does not yet have a record to a Persons as subjects field, you will have to create the person record first.</li>
                            </ul>
                            <p>If you have selected an incorrect place/subject/person or corporate body, you can delete your selection by clicking on the ╳ to the left of the selected term. You can also use the backspace key.</p>
                        <li>
                            <p><span class="highlight">Drop-down field</span> - click on the field itself and choose from the drop-down menu the most appropriate option to use.</p>
                            <p class="details">These are not widely used in archival records and are often only available at Administrator permission level.</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p><span class="highlight">Adding multiple entries per field</span> - there are some fields, usually controlled in some fashion, that allow for multiple entries per field, e.g., <span class="element">Record type</span>, <span class="element">Subject</span>, <span class="element">Persons as subjects</span>,:</p>
                    <ol class="details">
                        <li>Begin typing and then select your first entry, e.g., in <span class="element">Record type</span> you might add Correspondence;</li>
                        <li>Begin typing and then select your second entry and so on, e.g., you might add <span class="element">Writings</span> to the above example for a letter that included an inserted poem.</li>
                    </ol>
                </li>
                <li>
                    <p><span class="highlight">Once you have completed your editing</span>, click on the green <span class="element">Save</span> button in the top right hand corner of the screen. A pop-up will appear over the record:</p>
                    <ol class="details">
                        <li>Depending on your permission level you may have the option to choose a publication status. If you are a Moderator or Admin, choose <span class="element">inProcess</span> or <span class="element">Published</span> from the drop-down depending on whether you have completed your editing;</li>
                        <li>All editing permission level users are required to include <span class="element">Comments</span> about their editing. Depending on how much editing you have undertaken you ay choose to be more or less detailed in your editing description, e.g., "Added record type and start date";</li>
                        <li>Click on the green <span class="element">Save</span> button at the bottom right of the pop-up;</li>
                        <li>
                            <p>Note at the top of the record there should be a message highlighted in green stating: “Your edits were successfully saved.”</p>
                            <p class="details">If they have not been saved successfully, you will see a message highlighted in red saying so with reasons why the save was unsuccessful.</p>
                        </li>
                    </ol>
                </li>
            </ol>
            <h3>Editing an existing person or corporate body record</h3>
            <ol>
                <li><span class="highlight">Editing a:</span>
                    <ul>
                        <li>
                            <p><span class="highlight">Free text field</span> - information can be added directly into the field, you may use punctuation, e.g., <span class="element">Display name</span>;</p>
                            <p class="details">Restrictive fields like <span class="element">Name used from</span> expect dates formatted in ISO8601 form, YYYY-MM-DD</p></li>
                        <li><span class="highlight">Rich text field</span> - information can be added directly into the field and there is formatting functionality available, e.g., <span class="element">Abstract</span>;</li>
                        <li>
                            <p><span class="highlight">Controlled vocabulary/thesaurus/name authority file field - begin typing the information you wish to include in the field and you will be presented with a list of terms that match what you have typed. Choose from what is offered to include that term in the field, e.g., <span class="element">Gender</span>, <span class="element">Place</span>;</p>
                            <p>If the place, term, person or corporate body you are searching for are not available, you may do the following:</p>
                            <ul class="details">
                                <li><span class="highlight">Gender</span> - the <span class="element">Homosaurus</span> is not exhaustive and there may be specific genders not included in the subset created and used in the Collaborative Workspace. If a specific gender is not available, chose another term from the thesaurus that best aligns with it and add further information to the <span class="element">Descriptive notes</span> and <span class="element">Citation</span> fields</li>
                                <li><span class="highlight">Place</span> - if the specific place you are looking for is not available consider using a less specific geographic name.<br>
                                E.g. Use <a href="https://www.geonames.org/6615507/st-james-s.html">St. James’s</a> for Carlton House and include a reference to Carlton House in the <span class="element">Address</span> field for that Place.</li>
                                <li><span class="highlight">Function</span>if the specific term you are looking for is not available consider using one of the other terms suggested or explore <a href="https://ukat.aim25.com/">UKAT</a> (United Kingdom Archival Thesaurus) for other terms to use;</li>
                                <li><span class="highlight">Related person or corporate body</span>may only be populated with people or corporate bodies that have records already in the Collaborative Workspace. If you are trying to add a person or corporate body that does not yet have a record to a <span class="element">Related person or corporate body</span> field, you will have to create the name authority record first.</li>
                            </ul>
                            <p>If you have selected an incorrect place/term/person or corporate body you can delete your selection by clicking on the ╳ to the left of the selected term. You can also use the backspace key.</p>
                        <li>
                            <p><span class="highlight">Drop-down field</span> - click on the field itself and choose from the drop-down menu the most appropriate option to use, e.g. <span class="element">Name part type</span>, <span class="element">Relationship type</span>.</p>
                            <p class="details">These are not widely used in archival records and are often only available at Administrator permission level.</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p><span class="highlight">Once you have completed your editing</span>, click on the green <span class="element">Save</span> button in the top right hand corner of the screen. A pop-up will appear over the record:</p>
                    <ol class="details">
                        <li>Depending on your permission level you may have the option to choose a publication status. If you are a Moderator or Admin choose <span class="element">inProcess</span> or <span class="element">Published</span> from the drop-down depending on whether you have completed your editing;</li>
                        <li>All editing permission level users are required to include <span class="element">Comments</span> about their editing. Depending on how much editing you have undertaken you may choose to be more or less detailed in your editing description., e.g., "Added record type and start date";</li>
                        <li>Click on the green <span class="element">Save</span> button at the bottom right of the pop-up;</li>
                        <li>
                            <p>Note at the top of the record there should be a message highlighted in green stating: “Your edits were successfully saved.”</p>
                            <p class="details">If they have not been saved successfully, you will see a message highlighted in red saying so with reasons why the save was unsuccessful.</p>
                        </li>
                    </ol>
                </li>
            </ol>
            <p>For clarification, in the Collaborative Workspace events and places of significance can be recorded for both people and corporate bodies.</p>
            <ul>
                <li><span class="highlight">Events</span> are focussed on an occurrence, time-bounded, and not necessarily tied to a place, such as an anniversary. A <span class="element">Place</span> may be recorded for an event but is not required.</li>
                <li><span class="highlight">Places</span> are of much longer duration, if time boundaries exist at all and are not necessarily tied to specific events. A <span class="element">Role</span> such as birth place mabe be recorded but they are not required.</li>
            </ul>
            <p>The choice to use <span class="element">Event</span> or <span class="element">Place</span> depends on the focus of the editor and the metadata available. For example, in the record (ID: 3845) Charles Stuart, Bonnie Prince Charlie, has his assumption of the Betty Burke identity and resumption of his princely identity recorded as Places. Conversely, the record (ID: 3833) for Eleonore Prochaska includes information regarding the assumption and loss of the identity of August Renz where related dates are available but places were not always available.</p>
        </div>
    </div>
    <div class="guidance-group">
        <div class="fieldset-header" role="button" onclick="toggleTab()">
            <span class="toggle-tab-button" aria-expanded="false"></span>
            <h2>Creating a new person or corporate body</h2>
        </div>
        <div class="fieldset-body">
            <p>Some entity records (people and corporate bodies) are automatically created at ingest for those who are writers or addressees of the Georgian Papers. Other entity records would have been added manually by users finding mentions of people and corporate bodies in the archival record or the transcription of the archival record.</p>
            <p class="highlight">To create a new entity record for a person or corporate body in the CWS, first check that the entity does not already exist in the database.</p>
            <p>Then:</p>
            <ol class="details">
                <li>Click on <span class="element">People and corporate bodies</span> link in the left hand menu (situated below the <span class="element">Dashboard</span> link);</li>
                <li>Click on the blue <span class="element">+ Create</span> button at the top right hand corner;</li>
                <li>Choose from person or corporateBody and click on the blue <span class="element">Create</span> button.</li>
            </ol>
            <p>Entity records are made up of 3 main sections: identities, sources and entity records digital rights management.</p>
            <ul>
                <li><span class="highlight">Identities</span> - </li>
                <li>
                    <p><span class="highlight">Sources</span> - this section contains a list of sources used in the creation of the entity records which may include website, books, journal articles, databases and so on.</p>
                    <p><span class="highlight">Source field</span> - each record should at least have one source from the following:</p>
                    <ul class="details">
                        <li>VIAF, <a href="http://viaf.org/" class="dotted-underline">http://viaf.org/</a> for preference, with the understanding that VIAF is not exhaustive</li>
                        <li>Library of Congress Name Authority File, <a href="http://id.loc.gov/authorities/names.html" class="dotted-underline">http://id.loc.gov/authorities/names.html</a></li>
                        <li>Wikidata, <a href="https://www.wikidata.org/" class="dotted-underline">https://www.wikidata.org/</a></li>
                        <li>For geographical references (place of birth, place of death and so on) use GeoNames, <a href="https://www.geonames.org/" class="dotted-underline">https://www.geonames.org/</a> for preference with the understanding that GeoNames is not exhaustive or Wikidata, <a href="https://www.wikidata.org/" class="dotted-underline">https://www.wikidata.org/</a> 
                        <li>Such sources can be referenced using the source name and ID, e.g. VIAF ID: 49264990 (Personal)</li>
                    </ul>
                    <li><span class="highlight">URL</span> - include source URL if available. Make sure the URL links directly to the source page if used and not to the general website URL.</li>
                    <li>
                        <p><span class="highlight">Notes</span> - include any additional notes as needed,e.g., "This source gives a date of birth that is not in agreement with the other sources used but matches on all other points".</p>
                        <p class="details">As multiple sources will be used in creation of entity records (including other name authority files like VIAF and Wikidata, Geonames and so on) additional sources can be added by clicking on the blue + Add source button;</p>
                    </li>
                </li>
                <li><span class="highlight">Entity records digital rights management</span> - this section includes the details around the rights of reuse of these records. These fields may only be edited by Administrators if absolutely required for specific records. Bulk changes to digital rights management for entity records should be undertaken at database level.
                </li>
            </ul>
        </div>
    </div>
    <div class="guidance-group">
        <div class="fieldset-header" role="button" onclick="toggleTab()">
            <span class="toggle-tab-button" aria-expanded="false"></span>
            <h2>Deleting an entity record</h2>
        </div>
        <div class="fieldset-body">
            <p>Occasionally a person or corporate body record may need to be deleted due to it being created in error or for other reasons. If this is the case:</p>
            <ol class="details">
                <li>Navigate to the record in question;</li>
                <li>Click on the <span class="element">Delete</span> link up at the top right of the screen, next to the <span class="element">Save</span> button:
                    <ol>
                        <li>A pop up will appear asking <span class="element">Delete</span> this record?</li>
                        <li>Click the red <span class="element">Delete</span> button.</li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>
    <div class="guidance-group">
        <div class="fieldset-header" role="button" onclick="toggleTab()">
            <span class="toggle-tab-button" aria-expanded="false"></span>
            <h2>Managing duplicate name authority files</h2>
        </div>
        <div class="fieldset-body">
            <p>Duplication of name authority records in the Collaborative Workspace can occur in a number of ways:</p>
            <ul class="details">
                <li><span class="highlight">When archival records are imported into the Workspace</span>, name authority records are created automatically using the content of <span class="element">Writer</span> and <span class="element">Addressee</span> fields - slight differences in how this content is formatted or spelt can lead to duplicate records being created for a singular person or corporate body;</li>
                <li><span class="highlight">When importing name authority files from another source</span>, for example the LIPARM project which includes a number of Members of Parliament for which name authority records may have already been created during the ingest of archival records into the Workspace;</li>
                <li><span class="highlight">Human error</span> - a user may create a new name authority record without realising that a record for that person or corporate body may already exist.</li>
            </ul>
            <br>
            <p>Depending on the content of these duplicates and whether they have been linked to other records in the Collaborative Workspace users may choose to:</p>
            <ul>
                <li>
                    <p><span class="highlight">Delete the duplicate record</span> (provided it contains no content that isn’t already found in the retained record and is not linked to any archival record (as a Writer, Addressee or Person as subject and so on).</p>
                    <p>A name authority record’s relationship to other records in the Collaborative Workspace can be viewed via the <span class="element">Related entities and records</span> link at the top of the name authority record for the person or corporate body.</p>
                </li>
                <li><span class="highlight">Merge the duplicate record into the retained record</span>. This is the choice required if the duplicate record is linked elsewhere in the Workspace and/or contains information that is not yet contained within the retained record.</li>
            </ul>
            <br>
            <h3>Merging duplicate records</h3>
            <p>When a duplicate record is merged with a record that will be retained, all the information that is included in the duplicate record is added as an additional identity in the retained record. A person or corporate body will have, on occasion, held multiple identities, for example Bonnie Prince Charlie. However, it is more likely an entity would have held a singular identity although they may have had name changes over time. When merging, consider whether the additional identity should be kept as is in the retained record or whether the information should be moved from the additional identity to the main identity and then the additional identity be deleted.</p>
            <p>Note that merging records will also merge their Related entities and records.</p>
            <br>
            <h4>Through the Duplicates page</h4>
            <p>After an ingest of new data into the Collaborative Workspace, either archival records or a bulk import of new name authority file records, the first step for addressing any new duplicate person or corporate body records is the Duplicates page. This page will highlight any duplicates according to functionality that has been built into the Workspace. It is important to note that it will only highlight duplicate records which exactly match by preferred name. For example, George III, King will be flagged as a possible duplicate by another record with an identical name but won’t flag as a possible duplicate for George III, 1738-1820, King of Great Britain and Ireland.</p>
            <p>Also note, that merging some duplicates on the Duplicates page may remove other identified duplicates on the page if they co-exist in one the original set of the merged records.</p>
            <img src="" alt=""/>
            <p>The duplicates page will group possible duplicates together.</p>
            <ol class="details">
                <li>Click on a duplicate grouping - it will expand;</li>
                <li>Choose the record to be retained - this can be done by comparing the existing records. You can also click on the linked record name to view a record;</li>
                <li>Click on the <span class="element">Manage record button</span> beside the record to be retained;<br>
                    <img src="" alt="" />
                </li>
                <li>A new page will open. It will display the record to be retained at the top and a list of possible duplicates below;</li>
                <li>
                    <p>Of the possible identified duplicates you may:</p>
                    <ul>
                        <li>
                            <p><span class="highlight">Choose to merge a duplicate into the retained record</span>. To do so, click on the <span class="element">Merge</span> button to the left of the duplicate record.</p>
                            <p>A pop-up will appear asking you to <span class="element">Confirm</span> action, with information of which record will be merged into the other. To confirm, click on the green <span class="element">Submit</span> button.</p>
                        </li>
                        <li>
                            <p><span class="highlight">Choose to mark the record as <span class="element">Not a duplicate</span> of the retained record</span>; in which case, click on the <span class="element">Not a duplicate</span> button.</p>
                            <p>A pop-up will appear asking you to <span class="element">Confirm</span> action, with information of which record is not a duplicate of the other. To confirm, click on the green <span class="element">Submit</span> button.</p>
                            <p>If you have marked a record as <span class="element">Not a duplicate</span> by mistake, you can click on the <span class="element">Show records marked as ‘not a duplicate’</span> link at the bottom of the page and choose to instead Merge the record from there by clicking on the <span class="element">Merge</span> button.</p>
                        </li>
                    </ul>
                    <br>
                    <p>If you have selected an incorrect record, you can click on <span class="element">Reselect a duplicate</span> link beside the incorrectly selected record.</p>
                    <p>If you are aware of a record or records that are also duplicates but have not been found automatically, you can add them and process them here by typing the name of the person or the corporate body into the field available (under the <span class="element">Merge into the browsed record</span> heading):</p>
                    <ol>
                        <li>Select the duplicate record if it is shown and click on the blue <span class="element">Add to the list</span> link at the right;</li>
                        <li>Merge or mark as not a duplicate as above;</li>
                        <li>
                            <p>Repeat steps to this step as many times as needed.</p>
                            <p>Note that only one duplicate can be processed in this way at any time, i.e. you cannot manually add more the one record to be merged at a time.</p>
                        </li>
                    </ol>
                </li>
            </ol>
            <h4>Through name authority record to be retained</h4>
            <p>Another way to merge records is via name authority records directly. While in record that will be retained:</p>
            <ol class="details">
                <li>Click on the <span class="element">Manage duplicates</span> link at the top of the page (next to the <span class="element">Record ID</span>);</li>
                <li>A new page will open. It will display the record to be retained at the top and a list of possible duplicates below;</li>
                <li>
                    <p>Of the possible identified duplicates you may:</p>
                    <ul>
                        <li>
                            <p><span class="highlight">Choose to merge a duplicate into the retained record</span>. To do so, click on the <span class="element">Merge</span> button to the left of the duplicate record.</p>
                            <p>A pop-up will appear asking you to <span class="element">Confirm</span> action, with information of which record will be merged into the other. To confirm, click on the green <span class="element">Submit</span> button.</p>
                        </li>
                        <li>
                            <p><span class="highlight">Choose to mark the record as <span class="element">Not a duplicate</span> of the retained record</span>; in which case, click on the <span class="element">Not a duplicate</span> button.</p>
                            <p>A pop-up will appear asking you to <span class="element">Confirm</span> action, with information of which record is not a duplicate of the other. To confirm, click on the green <span class="element">Submit</span> button.</p>
                            <p>If you have marked a record as <span class="element">Not a duplicate</span> by mistake, you can click on the <span class="element">Show records marked as ‘not a duplicate’</span> link at the bottom of the page and choose to instead Merge the record from there by clicking on the <span class="element">Merge</span> button.</p>
                        </li>
                    </ul>
                    <br>
                    <p>If you have selected an incorrect record, you can click on <span class="element">Reselect a duplicate</span> link beside the incorrectly selected record.</p>
                    <p>If you are aware of a record or records that are also duplicates but have not been found automatically, you can add them and process them here by typing the name of the person or the corporate body into the field available (under the <span class="element">Merge into the browsed record</span> heading):</p>
                    <ol>
                        <li>Select the duplicate record if it is shown and click on the blue <span class="element">Add to the list</span> link at the right;</li>
                        <li>Merge or mark as not a duplicate as above;</li>
                        <li>
                            <p>Repeat steps to this step as many times as needed.</p>
                            <p>Note that only one duplicate can be processed in this way at any time, i.e. you cannot manually add more the one record to be merged at a time.</p>
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>
    <div class="guidance-group">
        <div class="fieldset-header" role="button" onclick="toggleTab()">
            <span class="toggle-tab-button" aria-expanded="false"></span>
            <h2>Managing records for publication <span class="details">(only available for Moderators and Administrators)</span></h2>
        </div>
        <div class="fieldset-body">
            <p>Records are managed, that is have their status changed, while editing if the user is at Moderator or Administrator level or from the <span class="element">Records for approval/publication</span> table on the <span class="element">Dashboard</span> page.</p>
            <h3>Managing a record when editing</h3>
            <p>Once you have completed your record editing, click on the green <span class="element">Save</span> button in the top right hand corner of the screen. A pop-up will appear over the record:</p>
            <ol class="details">
                <li>Choose <span class="element">inProcess</span> or <span class="element">Published</span> from the drop-down depending on whether you have completed your editing;</li>
                <li>All editing permission level users are required to include <span class="element">Comments</span> about their editing. Depending on how much editing you have undertaken, you may choose to be more or less detailed in your editing description, e.g., "Added record type and start date";</li>
                <li>Click on the green <span class="element">Save</span> button at the bottom right of the pop-up;</li>
                <li>
                    <p>Note at the top of the record there should be a message highlighted in green stating: “Your edits were successfully saved”;</p>
                    <p class="details">If they have not been saved successfully, you will see a message highlighted in red saying so with reasons why the save was unsuccessful.</p>
                </li>
            </ol>
            <h3>Managing a record from the dashboard</h3>
            <p>The <span class="element">Records for approval/publication</span> table collates all records that have been edited and had their publication status set to inProcess; this may have occurred automatically (for Editors) or manually (for Moderators and Administrators).</p>
            <ol>
                <li>
                    <p>The table may be filtered by Title, Type/level, Publication status, and/or Updated.</p>
                    <ul class="details">
                        <li><span class="highlight">Title</span> - archival record title or person or corporate body name;</li>
                        <li><span class="highlight">Type/level</span> - type of entity (person or corporate body) or archival level of archival record;</li>
                        <li><span class="highlight">Publication status</span> - indicates whether the latest version is available on the frontend of the CWS;</li>
                        <li><span class="highlight">Updated</span> - date record last updated.</li>
                    </ul>
                </li>
                <li>
                    <p><span class="highlight">To update the Publication status of a record</span>, navigate to the record via the Records for approval/publication table by clicking on the record title:</p>
                    <ol>
                        <li>
                            <p>Review the record:</p>
                            <ol class="details">
                                <li>Click on the <span class="element">History</span> link at the very top of the record page (nearby to the <span class="element">Publication status</span> and <span class="element">Updated</span> statements at the top left of the editing frame);</li>
                                <li>Note previous Logged comment(s) that were saved since the record last had “published” Publication status;</li>
                                <li>Click on the <span class="element">Back to…</span> link at the top left corner;</li>
                                <li>
                                    <p>Review the record using the Logged comment(s) as a guide for what information needs to be checked since the record was last reviewed and published;</p>
                                    <p>It would be good practice to review records in full:</p>
                                    <ul>
                                        <li>For new users to ensure they fully understand to edit records and create person or corporate body records;</li>
                                        <li>As spot checks to ensure consistency in editing across user base.</li>
                                    </ul>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <p>If record edits are suitable for publication, click on the green <span class="element">Save</span> button in the top right hand corner of the screen. A pop-up will appear over the record:</p>
                            <ol>
                                <li>Choose <span class="element">Published</span> from the drop-down;</li>
                                <li>All editing permission level users are required to include <span class="element">Comments</span> about their editing. Depending on how much editing you have undertaken you may choose to be more or less detailed in your editing description, e.g., "Added record type and start date";</li>
                                <li>Click on the green <span class="element">Save</span> button at the bottom right of the pop-up;</li>
                                <li>
                                    <p>Note at the top of the record there should be a message highlighted in green stating: “Your edits were successfully saved”.</p>
                                    <p>If they have not been saved successfully, you will see a message highlighted in red saying so with reasons why the save was unsuccessful.</p>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <p>If record edits are unsuitable for retention either:</p>
                            <ul>
                                <li>Correct errors noted in record until record is suitable for publication and go to the "Managing a record from the dashboard" section above, or</li>
                                <li>Restore a previous version of the record that does not include errors:
                                    <ol>
                                        <li>Click on the <span class="element">History</span> link at the very top of the record page (nearby to the <span class="element">Publication status</span> and <span class="element">Updated</span> statements at the top left of the editing frame);</li>
                                        <li>
                                            <p>Note previous Logged comment(s) and make a decision as to which previous version of the record to restore;</p>
                                            <p>Depending on when and by whom the last edits were made, this may be straightforward if there have been few new edits since the last previous “published” version;</p>
                                        </li>
                                        <li>Click on the <span class="element">Restore this version</span> link to the right of the preferred record version to be restore.</li>
                                    </ol>
                                </li>
                            </ul>
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>
    <div class="guidance-group">
        <div class="fieldset-header" role="button" onclick="toggleTab()">
            <span class="toggle-tab-button" aria-expanded="false"></span>
            <h2>Managing users <span class="details">(only available for Administrators)</span></h2>
        </div>
        <div class="fieldset-body">
            <p>Managing permission levels of users, creating new users, and deleting users are tasks that are only available to Administrators and are undertaken from the  <span class="element"><i class="fal fa-user"></i> Account control</span> page which can be found at the bottom left of the side menu.</p>
            <p>At the top of the <span class="elements">Account control</span> panel are your individual user details (First name, Last name, Email address and Username) as well Change password fields which can be used as needed.</p>
            <p>If your permission level is set to Administrator, below the user’s Personal details will be an Admin table.</p>
            <h3>Managing permission levels</h3>
            <p>To change the permission level of an existing user:</p>
            <ol class="details">
                <li>Click on the dropdown arrow in the <span class="element">Permission level</span> column of the table, in the row of the user whose permission you wish to change;</li>
                <li>Select the user’s new permission level from Admin, Moderator, Editor, or Visitor;</li>
                <li>    
                    <p>Then click on the green <span class="element">Save admin table</span> button that can be found at the top or the bottom of the admin table.</p>
                    <p>If it has been saved a message stating, “Your updates were successfully saved.” will display and be highlighted in green above the Admin table.</p>
                </li>
            </ol>
            <h3>Creating a new user</h3>
            <p>To create a new user:</p>
            <ol class="details">
                <li>Click on the blue <span class="element">+ Add user button</span> at the bottom right of the Admin table;</li>
                <li>A new page will open, titled <span class="element">Create new user</span>. Fill in the fields (Username, Role, Password and Confirm password are all required fields) with the user’s details, including a temporary password for them;</li>
                <li>Click on the green <span class="element">Create new user</span> button.</li>
            </ol>
            <h3>Deleting a user</h3>
            <p>To delete an existing user:</p>
            <ol class="details">
                <li>Locate the user you want to delete in the Admin table;</li>
                <li>Click on the <span class="element">Delete</span> link in the far right column in the user’s row;</li>
                <li>
                    <p>Click on the <span class="element">Delete permanently and save table</span> link that appears.</p>
                    <p>Or you may repeat step 2 for however many users you may wish to delete and then click on the green <span class="element">Save admin table</span> to save your multiple deletions.</p>
                </li>
            </ol>
        </div>
    </div>
    {% endblock content%}
</main>
{% endblock main %}
