{% extends "./base.html" %}
{% block header %}{% endblock header %}
{% block main %}
<main class="no-sidebar">
    
    {% block content %}
    <div class="form-page">
        <h1>Reset password</h1>
        <p>An email has been sent to the address with instructions on how to reset your password.</p>
        <a href="{% url 'editor:login' %}" class="dotted-underline">Back to login page</a>
    </div>
    {% endblock content %}
</main>
{% endblock main %}
{% block footer %}
  <footer>
        <p>© {% now "Y" %} Designed, developed and maintained by <a href="https://www.kdl.kcl.ac.uk/">King's Digital Lab</a></p>
  </footer>
{% endblock footer %}
