{% extends "./base.html" %}
{% block main %}
<main class="no-sidebar">
{% block content %}
<div class="form-page">
  <h1>Password reset confirmation</h1>

  {% if validlink %}
  <h4>Please enter your new password twice so we can verify you typed it in correctly</h4>

  <form action="." method="post" class="one-column">
    {% csrf_token %}
    <label>
      <span class="required">{{ form.new_password1.label }}</span>
      {{ form.new_password1 }}
    </label>
    <label>
      <span class="required">{{ form.new_password2.label }}</span>
      {{ form.new_password2 }}
    </label>
    <input type="submit" class="save" value="Change my password" />
  </form>

  {% else %}
  <h4>The password reset link was invalid, possibly because it has already been used. Please request a new <a href="{% url 'editor:password_reset' %}">password reset</a></h4>
  {% endif %}
</div>
{% endblock content %}
</main>
{% endblock main %}