{% extends "./base.html" %}
{% block header %}{% endblock header %}
{% block main %}
<main class="no-sidebar">
    
    {% block content %}
    <div class="form-page">
        <h1>Reset password</h1>
        <p>Enter your email address to reset your password.</p>
        <form action="." method="post" class="one-column">
            {% csrf_token %}
            {{ form }}
            <div class="inline">
            <a href="{% url 'editor:login' %}" class="dotted-underline">Back to login page</a>
            <input type="submit" class="save" value="Reset password" />
        </div>
        </form>
    </div>
    {% endblock content %}
</main>
{% endblock main %}
{% block footer %}
  <footer>
      <p>Designed, developed and maintained by <a href="https://www.kdl.kcl.ac.uk/">King's Digital Lab</a></p>
  </footer>
{% endblock footer %}