{% extends "./base.html" %}
{% load editor_form_tags %}


{% block page_header %}
<a href="{% url 'editor:dashboard' %}"><i class="fas fa-chevron-left margin-right"></i><span class="dotted-underline">Back to Account control panel</span></a>
{% endblock page_header %}

{% block content %}
<div class="form-page">
    <h1>Change password</h1>
    <form action="" method="">
        {% csrf_token %}
        {{ form.errors }}
        {% render_field password_form.old_password %}
        {% render_field password_form.new_password1 %}
        {% render_field password_form.new_password2 %}
        <input type="submit" class="save" value="Save" />
    </form>
</div>
{% endblock content %}
