{% extends "./base.html" %}
{% load editor_form_tags %}
{% load compress static %}

{% block main %}
<main>
  {% block page_header %}
  <div class="header-fixed">
    <div class="status-bar">
      <input type="checkbox" id="document-status-checkbox" class="none" value="Document status" aria-label="document-status"/>
      <label class="mobile-only" for="document-status-checkbox">Status</label>
      <div class="mobile-hide">
        <ul>
          <li>Publication status: <span class="highlight">{{ record.publication_status }}</span></li>
          <!-- <li>Maintenance status: <span class="highlight">{{ record.maintenance_status }}</span></li> -->
          <li>Last edited: <span class="highlight">{{ last_revision.date_created }}</span> by <span class="highlight">{{ last_revision.user }}</span></li>
          <li>
            <a href="{% url 'editor:record-history' record_id=record.pk %}">
              <i class="far fa-clock"></i>
              <span class="dotted-underline">History</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="action-buttons">
      {% if not is_deleted %}<button aria-label="delete" class="danger-clear" onclick="deleteRecord(event)">Delete</button>{% endif %}
      <input type="submit" value="{% if is_deleted %}Restore{% else %}Save{% endif %}" form="record-form" class="save"/>
    </div>
  </div>
  {% endblock page_header %}

  {% block content %}
  <div class="form-header">
    <div class="breadcrumbs">
      <ul>
        <li><a href="{% url 'editor:home' %}">Home</a></li>
        <li>{% if current_section == 'records' %}<a href="{% url 'editor:records-list' %}" class="dotted-underline">Archival records</a>{% else %}<a href="{% url 'editor:deleted-list' %}" class="dotted-underline">Deleted</a>{% endif %}</li>
      </ul>
    </div>

    {% if form.errors %}
    <div class="error-notifications">
      {% for field, errors in form.errors.items %}
      <h4>{{ field }}</h4>
      <p>{% for error in errors %}{{ error }} {% endfor %}</p>
      {% endfor %}
    </div>
    {% endif %}

    {% if saved %}
    <div class="success-notification">
      <h4>Your edits were successfuly saved.</h4>
    </div>
    {% elif restored %}
    <div class="success-notification">
      <h4>The version {{ reverted }} was sucessfully restored.</h4>
    </div>
    {% endif %}

    <h1>{{ record }}</h1>

    <div class="subitems">
      <ul>
        <li>Type: <span class="highlight">{{ record.archival_level }}</span></li>
        <li>
          <a href="{% url 'editor:record-hierarchy' record_id=record.pk %}">
            <i class="fal fa-sitemap"></i>
            <span class="dotted-underline">Hierarchy browser</span>
          </a>
        </li>
        <li>
          <a href="{% url 'editor:record-related' record_id=record.pk %}">
            <i class="fal fa-users"></i>
            <span class="dotted-underline">Related people and corporate bodies</span>
          </a>
        </li>
      </ul>
    </div>

    <form action="{% url 'editor:record-edit' record_id=record.pk %}" id="record-form" method="post">
      {% with transcriptions=form.formsets.transcriptions %}
      {% if transcriptions|length > 0 %}
      <div class="form-section">
        <fieldset id="side-by-side">
          <div class="fieldset-header">
            <h4>Transcription</h4>
            <div>
              <a class="toggle-tab-button transcription-toggle" onclick="toggleTab(this)"></a>
            </div>
          </div>
          <div class="fieldset-body" id="transcription-div">
            <div class="two-column-table" id="transcription-section">
              <div id="openseadragon1" class="image">
                  <div id="navigation-pane">
                      <span class="nav-icon" id="zoom-in"></span>
                      <span class="nav-icon" id="zoom-out"></span>
                      <span class="nav-icon" id="default"></span>
                      <span class="nav-icon" id="full-mode"></span>
                  </div>
              </div>
              <div id="transcription">
                {{ transcriptions.management_form }}
              </div>
            </div>
            <div id="rte-pagination"></div>
          </div>
        </fieldset>
      </div>
      {% endif %}
      {% endwith %}
      <div class="form-section">
        <h2>SUMMARY</h2>
        <fieldset id="summary">
          <div class="fieldset-header">
            {% csrf_token %}
            {% render_field form.uuid %}
            {% render_field form.project %}
            <h4>{{ record.references.all|join:", " }}</h4>
            <div>
              <a class="toggle-tab-button active" onclick="toggleTab(this)"></a>
            </div>
          </div>
          <div class="fieldset-body expand">
            <div class="two-column-table">
              <div>
                {% render_field form.references %}
                {% render_field form.parent_series %}
                {% render_field form.parent_file %}
                <div class="formset">
                  {% with origin_locations=form.formsets.origin_locations %}
                  <div class="management_form">
                    {{ origin_locations.management_form }}
                  </div>
                  <div class="fieldsets">
                    {% for origin_location in origin_locations.forms %}
                    {% include "./includes/origin_location_inline_form.html" with form=origin_location %}
                    {% endfor %}
                  </div>
                  {% endwith %}
                  <label class="button-link create">
                    <input type="button" class="icon-only" value="&#xf067;" onclick="addEmptyForm('origin_location', this)">Add location of originals
                  </label>
                </div>
                <div class="formset">
                  {% with related_materials=form.formsets.related_materials %}
                  <h4 class="group-title">Related materials</h4>
                  <div class="management_form">
                    {{ related_materials.management_form }}
                  </div>
                  <div class="fieldsets">
                    {% for related_material in related_materials.forms %}
                    {% include "./includes/related_material_inline_form.html" with form=related_material %}
                    {% endfor %}
                  </div>
                  {% endwith %}
                  <label class="button-link create">
                    <input type="button" class="icon-only" value="&#xf067;" onclick="addEmptyForm('related_material', this)">Add related material
                  </label>
                </div>
              </div>
              <div>
                {% render_field form.repository %}
                <label>
                  <span class="required">Archival level</span>
                  <select name="archival-level" disabled="disabled">
                    <option>{{ record.archival_level }}</option>
                  </select>
                </label>
                {% render_field form.record_type %}
                {% render_field form.url %}
                {% render_field form.withheld %}
                {% render_field form.publication_permission %}
              </div>
            </div>
            {% render_field form.publications %}
            <div class="two-column-table">
              <div>
                {% if is_admin %}
                <label>
                  <span class="required">Repository code</span>
                  <input disabled="disabled" type="number" value="{{ record.repository.code }}"/>
                </label>
                {% endif %}
                {% render_field form.rcin %}
              </div>
              <div>
                {% render_field form.copyright_status %}
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="form-section">
        <h2>DESCRIPTION</h2>
        <fieldset id="description">
          <div class="fieldset-header">
            <h4>{{ record.title | truncatewords:30 }}</h4>
            <div>
              <a class="toggle-tab-button active" onclick="toggleTab(this)"></a>
            </div>
          </div>
          <div class="fieldset-body expand">
            <div class="two-column-table">
              <div>
                {% render_field form.title %}
                {% render_field form.creation_dates %}
                <div class="two-column-table date">
                  {% render_field form.start_date %}
                  {% render_field form.end_date %}
                </div>
              </div>
              <div>
                {% render_field form.creators %}
                {% render_field form.persons_as_relations %}
                {% render_field form.creation_places %}
                {% render_field form.places_as_relations %}
              </div>
            </div>
            {% render_field form.description %}
            <div class="two-column-table">
              <div>
                {% render_field form.languages %}
                {% render_field form.physical_description %}
              </div>
              <div>
                {% render_field form.extent %}
                {% render_field form.provenance %}
              </div>
            </div>
            {% render_field form.administrative_history %}
            <div class="two-column-table">
              <div>
                {% render_field form.subjects %}
                {% render_field form.places_as_subjects %}
              </div>
              <div>
                {% render_field form.persons_as_subjects %}
                {% render_field form.organisations_as_subjects %}
              </div>
            </div>
            {% render_field form.notes %}
            {% render_field form.arrangement %}
          </div>
        </fieldset>
      </div>

      <div class="form-section">
        <h2>ARCHIVAL RECORD DIGITAL RIGHTS STATEMENT</h2>

        <fieldset>
          <div class="fieldset-header">
            <h4>Record ID: {{ record.pk }}</h4>
            <div>
              <a class="toggle-tab-button active" onclick="toggleTab(this)"></a>
            </div>
          </div>
          <div class="fieldset-body expand">
            <div class="two-column-table">
              <div>
                {% render_field form.language %}
              </div>
              <div>
                {% render_field form.script %}
              </div>
            </div>
            {% render_field form.rights_declaration %}
            <div class="two-column-table">
              <div>
                {% render_field form.rights_declaration_citation %}
              </div>
              <div>
                {% render_field form.rights_declaration_abbreviation %}
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="modal" id="log-modal">
        <div class="modal-content">
          <div class="modal-header">
            <h2>Log comments</h2>
            <!-- <input type="button" class="icon-only modal-cancel" aria-label="close" value="&#xf00d;" /> -->
            <input type="button" class="icon-only modal-cancel" aria-label="close" value="&#xf00d;" />
          </div>
          <div class="modal-body">
            <div class="two-column-table">
              <div>
                {% render_field form.publication_status %}
              </div>
            </div>
            {% render_field log_form.comment %}
          </div>
          <div class="modal-footer">
            <!-- <input type="submit" value="Save" class="save modal-submit" /> -->
            <input type="submit" value="Save" class="save" />
          </div>
        </div>
      </div>
    </form>
  </div>
  {% include "./includes/delete_modal.html" with delete_url=delete_url %}
  <div id="empty_forms" style="display: none;">
    {% comment %}Include an empty form for each sub-form on the page,
    to allow for JS creation of new forms, rather than supplying a set
    number of extra forms server-side.{% endcomment %}
    {% include "./includes/related_material_inline_form.html" with form=form.formsets.related_materials.empty_form %}
    {% include "./includes/origin_location_inline_form.html" with form=form.formsets.origin_locations.empty_form %}
  </div>
  {% endblock content %}
</main>
{% endblock main %}
{% block extra_js %}
<script src="{% static 'js/openseadragon/openseadragon.min.js' %}"></script>
{% with transcriptions=form.formsets.transcriptions %}
{% if transcriptions|length > 0 %}
<script type="text/javascript">
  var viewer = OpenSeadragon({
      id: "openseadragon1",
      prefixUrl: "{% static 'js/openseadragon/images/' %}",
      sequenceMode: true,
      zoomInButton: "zoom-in",
      zoomOutButton: "zoom-out",
      homeButton: "default",
      fullPageButton: "full-mode",
      tileSources: []
  });
  // resolve an issue when all iframes are wiped off when full screen is enabled
  var elem = document.querySelector(".openseadragon-container");
  viewer.addHandler("pre-full-page", function (data) {
    data.preventDefaultAction=true;
    openFullscreen();
  });
  function openFullscreen() {
    if (elem.requestFullscreen) {
      elem.requestFullscreen();
    } else if (elem.mozRequestFullScreen) {
      elem.mozRequestFullScreen();
    } else if (elem.webkitRequestFullscreen) {
      elem.webkitRequestFullscreen();
    } else if (elem.msRequestFullscreen) {
      elem.msRequestFullscreen();
    }
  }
</script>
{% endif %}
{% endwith %}
{% endblock extra_js %}
