{% extends "./base.html" %}
{% load editor_form_tags %}
{% load compress static %}


{% block page_header %}
<div id="page-header" class="header-fixed">
  <div id="status-bar">
    <ul>
      <li>Publication status: <span class="highlight">{{ record.publication_status }}</span></li>
      <li>Maintenance status: <span class="highlight">[QAZ]</span></li>
      <li>Last edited: <span class="highlight">{{ last_revision.user }}</span></li>
      <li><span class="highlight">{{ last_revision.date_created }}</span></li>
    </ul>
    <a href="{% url 'editor:record-history' record_id=record.pk %}">
      <i class="far fa-clock"></i>
      <span class="dotted-underline">History</span>
    </a>
  </div>
  <button aria-label="delete" class="danger-clear" onclick="deleteRecord(event)">Delete</button>
  <input type="submit" value="Save" form="record-form" class="save"/>
</div>
{% endblock page_header %}

{% block content %}
<div id="form-header">
  <div id="breadcrumbs">
    <ul>
      <li><a href="{% url 'editor:home' %}">HOME</a></li>
      <li><a href="{% url 'editor:records-list' %}" class="dotted-underline">ARCHIVAL RECORDS</a></li>
      <li>{{ record|truncatewords:15 }}</li>
    </ul>
  </div>

  {% if form.errors %}
  <div class="error-notifications">
    {% for field, error in form.errors.items %}
    <h3>{{ field }}</h3>
    <p>{{ error }}</p>
    {% endfor %}
  </div>
  {% endif %}

  <h1>{{ record|truncatewords:30 }}</h1>

  <h2>{{ record.archival_level }}</h2>

  <form action="{% url 'editor:record-edit' record_id=record.pk %}" id="record-form" method="post">
    <div class="form-section">
      <fieldset id="side-by-side">
        <div class="fieldset-header">
          <h3>Transcription</h3>
          <div>
            <a class="toggle-tab-button" onclick="toggleTab(this)"></a>
          </div>
        </div>
        <div class="fieldset-body">
          <div class="two-column-table">
            <div id="openseadragon1" class="image">
                <div id="navigation-pane">
                    <span class="nav-icon" id="prev"></span>
                  <div>
                    <span class="nav-icon" id="zoom-in"></span>
                    <span class="nav-icon" id="zoom-out"></span>
                    <span class="nav-icon" id="default"></span>
                    <span class="nav-icon" id="full-mode"></span>
                  </div>
                  <span class="nav-icon" id="next"></span>
                </div>
            </div>
            <div class="transcription">
                <textarea class="richtext">QAZ</textarea>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="form-section">
      <h2>SUMMARY</h2>
      <fieldset id="summary">
        <div class="fieldset-header">
          {% csrf_token %}
          {% render_field form.uuid %}
          {% render_field form.project %}
          <h3>{{ record.repository }}</h3>
          <div>
            <a class="toggle-tab-button active" onclick="toggleTab(this)"></a>
          </div>
        </div>
        <div class="fieldset-body expand">
          <div class="two-column-table">
            <div>
              {% render_field form.repository %}
              <label>
                <span class="required">Repository code</span>
                <input disabled="disabled" type="number" value="{{ record.repository.code }}"/>
              </label>
              {% render_field form.parent_series %}
              {% render_field form.parent_file %}
              {% render_field form.references %}
              {% render_field form.cataloguer %}
            </div>
            <div>
              <label>
                <span class="required">Archival level</span>
                <select name="archival-level" disabled="disabled">
                  <option>{{ record.archival_level }}</option>
                </select>
              </label>
              {% render_field form.record_type %}
              {% render_field form.rcin %}
              {% render_field form.url %}
              {% render_field form.origin_location %}
              {% render_field form.related_materials %}
              {% render_field form.description_date %}
            </div>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="form-section">
      <h2>DESCRIPTION</h2>
      <fieldset id="description">
        <div class="fieldset-header">
          <h3>{{ record.title }}</h3>
          <div>
            <a class="toggle-tab-button active" onclick="toggleTab(this)"></a>
          </div>
        </div>
        <div class="fieldset-body expand">
          <div class="two-column-table">
            <div>
              {% render_field form.title %}
              <div class="two-column-table date">
                {% render_field form.start_date %}
                {% render_field form.end_date %}
              </div>
              {% render_field form.creation_dates %}
              {% render_field form.creation_dates_notes %}
              {% render_field form.extent %}
              {% render_field form.languages %}
            </div>
            <div>
              {% render_field form.creators %}
              {% render_field form.persons_as_relations %}
              {% render_field form.creation_places %}
              {% render_field form.places_as_relations %}
            </div>
          </div>
          {% render_field form.description %}
          {% render_field form.notes %}
          <div class="two-column-table">
            <div>
              {% render_field form.physical_description %}
            </div>
          </div>
          {% render_field form.administrative_history %}
          <div class="two-column-table">
            <div>
              {% render_field form.subjects %}
              {% render_field form.organisation_as_subjects %}
              {% render_field form.arrangement %}
            </div>
            <div>
              {% render_field form.persons_as_subjects %}
              {% render_field form.places_as_subjects %}
              {% render_field form.provenance %}
            </div>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="form-section">
      <h2>ACCESS</h2>

      <fieldset>
        <div class="fieldset-header">
          <h3>{{ record.withheld }} | {{ record.copyright_status }}</h3>

          <div>
            <a class="toggle-tab-button active" onclick="toggleTab(this)"></a>
          </div>
        </div>
        <div class="fieldset-body expand">
          <div class="two-column-table">
            <div>
              {% render_field form.publications %}
            </div>
            <div>
              {% render_field form.copyright_status %}
              {% render_field form.withheld %}
              {% render_field form.publication_permission %}
            </div>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="form-section">
      <h2>CONTROL</h2>

      <fieldset>
        <div class="fieldset-header">
          <h3>Record ID: {{ record.pk }}</h3>
          <div>
            <a class="toggle-tab-button active" onclick="toggleTab(this)"></a>
          </div>
        </div>
        <div class="fieldset-body expand">
          <div class="two-column-table">
            <div>
              Language QAZ
              {% render_field form.rights_declaration_citation %}
            </div>
            <div>
              Script QAZ
              {% render_field form.rights_declaration_abbreviation %}
            </div>
          </div>
          {% render_field form.rights_declaration %}
        </div>
      </fieldset>
    </div>
    <div class="modal" id="log-modal">
      <div class="modal-content">
        <div class="modal-header">
          <h2>Log comments</h2>
          <input type="button" class="icon-only modal-cancel" aria-label="close" value="&#xf00d;" />
        </div>
        <div class="modal-body">
          <div class="two-column-table">
            <div>
              {% render_field form.publication_status %}
              QAZ Editing event type
            </div>
            <div>
              QAZ Maintenance status
            </div>
          </div>
          {% render_field log_form.comment %}
        </div>
        <div class="modal-footer">
          <input type="submit" value="Save" class="save modal-submit" />
        </div>
      </div>
    </div>
  </form>
</div>
{% include "./includes/delete_modal.html" with delete_url=delete_url %}
{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/openseadragon/openseadragon.min.js' %}"></script>
<script type="text/javascript">
  var viewer = OpenSeadragon({
      id: "openseadragon1",
      prefixUrl: "{% static 'js/openseadragon/images/' %}",
      zoomInButton:   "zoom-in",
      zoomOutButton:  "zoom-out",
      homeButton:     "default",
      fullPageButton: "full-mode",
      nextButton:     "next",
      prevButton: "prev",
      tileSources: {
        height: 1749,
        width:  1400,
        tileSize: 1749,
        minLevel: 11,
        getTileUrl: function(){
            return "{% static 'images/GEO_ADD_15_0855_001.jpg' %}";
        }
      }
  });
</script>
{% endblock extra_js %}
