{% extends "./base.html" %}
{% load editor_form_tags %}
{% load compress static %}

{% block main %}
<main>
  {% block page_header %}
  <div class="header-fixed">
    <div class="status-bar">
      <input type="checkbox" id="document-status-checkbox" class="none" value="Document status" aria-label="document-status"/>
      <label class="mobile-only" for="document-status-checkbox">Status</label>
      <div class="mobile-hide">
        <ul>
          <li>Publication status: <span class="highlight">{{ record.publication_status }}</span></li>
          <!-- <li>Maintenance status: <span class="highlight">{{ record.maintenance_status }}</span></li> -->
          <li>Last edited: <span class="highlight">{{ last_revision.date_created }}</span> by <span class="highlight">{{ last_revision.user }}</span></li>
        </ul>
        <a href="{% url 'editor:record-history' record_id=record.pk %}">
          <i class="far fa-clock"></i>
          <span class="dotted-underline">History</span>
        </a>
      </div>
    </div>
    <div class="action-buttons">
        <button aria-label="delete" class="danger-clear" onclick="deleteRecord(event)"></button>
        <input type="submit" value="Save" form="record-form" class="save"/>
    </div>
  </div>
  {% endblock page_header %}

  {% block content %}
  <div class="form-header">
    <div class="breadcrumbs">
      <ul>
        <li><a href="{% url 'editor:home' %}">Home</a></li>
        <li><a href="{% url 'editor:records-list' %}" class="dotted-underline">Archival records</a></li>
      </ul>
    </div>

    {% if form.errors %}
    <div class="error-notifications">
      {% for field, errors in form.errors.items %}
      <h4>{{ field }}</h4>
      <p>{% for error in errors %}{{ error }} {% endfor %}</p>
      {% endfor %}
    </div>
    {% endif %}

    {% if saved %}
    <div class="success-notification">
      <h4>Your edits were successfuly saved.</h4>
    </div>
    {% endif %}

    <h1>{{ record }}</h1>

    <h2>{{ record.archival_level }}</h2>

    <form action="{% url 'editor:record-edit' record_id=record.pk %}" id="record-form" method="post">
      <div class="form-section">
        <fieldset id="side-by-side">
          <div class="fieldset-header">
            <h4>Transcription</h4>
            <div>
              <a class="toggle-tab-button" onclick="toggleTab(this)"></a>
            </div>
          </div>
          <div class="fieldset-body">
            <div class="two-column-table">
              <div id="openseadragon1" class="image">
                  <div id="navigation-pane">
                      <span class="nav-icon" id="prev"></span>
                    <div>
                      <span class="nav-icon" id="zoom-in"></span>
                      <span class="nav-icon" id="zoom-out"></span>
                      <span class="nav-icon" id="default"></span>
                      <span class="nav-icon" id="full-mode"></span>
                    </div>
                    <span class="nav-icon" id="next"></span>
                  </div>
              </div>
              <div class="transcription">
                  <textarea class="richtext-transcription">
                    <div class="tei-body">
                      <span class="tei-pb" data-tei-n="15">15</span>
                      <p class="tei-p">78.
                   <br class="tei-lb"/>
                      </p>
                      <p class="tei-p">dispute, John on His Brother's death sent
                   <br class="tei-lb"/>over Hubert Archbishop of Canterbury from
                   <br class="tei-lb"/>Normandy with full powers to act in conjunction
                   <br class="tei-lb"/>with His friends for securing Him the Crown; this
                   <br class="tei-lb"/>was no difficulty task, for His competitor
                   <br class="tei-lb"/>was but twelve years old, almost unknown
                   <br class="tei-lb"/>in England; had His title been supported by a
                   <br class="tei-lb"/>friend of virtue &amp; dignity, such as Maud
                   <br class="tei-lb"/>had in Robert Earl of Glocester, John's
                   <br class="tei-lb"/>accession would not have been so easy a
                   <br class="tei-lb"/>matter, &amp; as it was abroad Anjou, Tourain
                   <br class="tei-lb"/>&amp; Main declar'd for Arthur, whom His
                   <br class="tei-lb"/>Mother Constance deliever'd to the French
                   <br class="tei-lb"/>King Philip, who immediately garrison'd the
                   <br class="tei-lb"/>Towns of all these Countrys, overrun most
                   <br class="tei-lb"/>of Normandy, &amp; by His conquests procur'd the
                   <br class="tei-lb"/>title of August which had Richard liv'd
                   <br class="tei-lb"/>had never been His lot, &amp; which He by no
                   <br class="tei-lb"/>mean deserv'd, for soon after this He <del class="tei-del"> sacrificed </del>
                         <ins class="tei-add"> made a </ins>
                         <br class="tei-lb"/>treaty with John at Arthur's expence
                   <br class="tei-lb"/>
                      </p>
                      <br class="tei-lb"/>
                   </div>
                  </textarea>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="form-section">
        <h2>SUMMARY</h2>
        <fieldset id="summary">
          <div class="fieldset-header">
            {% csrf_token %}
            {% render_field form.uuid %}
            {% render_field form.project %}
            <h4>{{ record.repository }}</h4>
            <div>
              <a class="toggle-tab-button active" onclick="toggleTab(this)"></a>
            </div>
          </div>
          <div class="fieldset-body expand">
            <div class="two-column-table">
              <div>
                {% render_field form.repository %}
                <label>
                  <span class="required">Repository code</span>
                  <input disabled="disabled" type="number" value="{{ record.repository.code }}"/>
                </label>
                {% render_field form.parent_series %}
                {% render_field form.parent_file %}
                {% render_field form.references %}
                {% render_field form.cataloguer %}
              </div>
              <div>
                <label>
                  <span class="required">Archival level</span>
                  <select name="archival-level" disabled="disabled">
                    <option>{{ record.archival_level }}</option>
                  </select>
                </label>
                {% render_field form.record_type %}
                {% render_field form.rcin %}
                {% render_field form.url %}
                {% render_field form.origin_location %}
                {% render_field form.related_materials %}
                {% render_field form.description_date %}
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="form-section">
        <h2>DESCRIPTION</h2>
        <fieldset id="description">
          <div class="fieldset-header">
            <h4>{{ record.title | truncatewords:30 }}</h4>
            <div>
              <a class="toggle-tab-button active" onclick="toggleTab(this)"></a>
            </div>
          </div>
          <div class="fieldset-body expand">
            <div class="two-column-table">
              <div>
                {% render_field form.title %}
                <div class="two-column-table date">
                  {% render_field form.start_date %}
                  {% render_field form.end_date %}
                </div>
                {% render_field form.creation_dates %}
                {% render_field form.creation_dates_notes %}
                {% render_field form.extent %}
                {% render_field form.languages %}
              </div>
              <div>
                {% render_field form.creators %}
                {% render_field form.persons_as_relations %}
                {% render_field form.creation_places %}
                {% render_field form.places_as_relations %}
              </div>
            </div>
            {% render_field form.description %}
            {% render_field form.notes %}
            <div class="two-column-table">
              <div>
                {% render_field form.physical_description %}
              </div>
            </div>
            {% render_field form.administrative_history %}
            <div class="two-column-table">
              <div>
                {% render_field form.subjects %}
                {% render_field form.organisation_as_subjects %}
                {% render_field form.arrangement %}
              </div>
              <div>
                {% render_field form.persons_as_subjects %}
                {% render_field form.places_as_subjects %}
                {% render_field form.provenance %}
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="form-section">
        <h2>ACCESS</h2>

        <fieldset>
          <div class="fieldset-header">
            <h4>
              {% if record.withheld %}
                {{ record.withheld }} | 
              {% elif record.copyright_status %} 
                {{ record.copyright_status }}
              {% else %}
                Access
              {% endif %}
            </h4>

            <div>
              <a class="toggle-tab-button active" onclick="toggleTab(this)"></a>
            </div>
          </div>
          <div class="fieldset-body expand">
            <div class="two-column-table">
              <div>
                {% render_field form.publications %}
              </div>
              <div>
                {% render_field form.copyright_status %}
                {% render_field form.withheld %}
                {% render_field form.publication_permission %}
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="form-section">
        <h2>CONTROL</h2>

        <fieldset>
          <div class="fieldset-header">
            <h4>Record ID: {{ record.pk }}</h4>
            <div>
              <a class="toggle-tab-button active" onclick="toggleTab(this)"></a>
            </div>
          </div>
          <div class="fieldset-body expand">
            <div class="two-column-table">
              <div>
                {% render_field form.language %}
                {% render_field form.rights_declaration_citation %}
              </div>
              <div>
                {% render_field form.script %}
                {% render_field form.rights_declaration_abbreviation %}
              </div>
            </div>
            {% render_field form.rights_declaration %}
          </div>
        </fieldset>
      </div>
      <div class="modal" id="log-modal">
        <div class="modal-content">
          <div class="modal-header">
            <h2>Log comments</h2>
            <!-- <input type="button" class="icon-only modal-cancel" aria-label="close" value="&#xf00d;" /> -->
            <input type="button" class="icon-only modal-cancel" aria-label="close" value="&#xf00d;" />
          </div>
          <div class="modal-body">
            <div class="two-column-table">
              <div>
                {% render_field form.publication_status %}
              </div>
            </div>
            {% render_field log_form.comment %}
          </div>
          <div class="modal-footer">
            <!-- <input type="submit" value="Save" class="save modal-submit" /> -->
            <input type="submit" value="Save" class="save" />
          </div>
        </div>
      </div>
    </form>
  </div>
  {% include "./includes/delete_modal.html" with delete_url=delete_url %}
  {% endblock content %}
</main>
{% endblock main %}
{% block extra_js %}
<script src="{% static 'js/openseadragon/openseadragon.min.js' %}"></script>
<script type="text/javascript">
  var viewer = OpenSeadragon({
      id: "openseadragon1",
      prefixUrl: "{% static 'js/openseadragon/images/' %}",
      zoomInButton:   "zoom-in",
      zoomOutButton:  "zoom-out",
      homeButton:     "default",
      fullPageButton: "full-mode",
      nextButton:     "next",
      prevButton: "prev",
      tileSources: {
        height: 1749,
        width:  1400,
        tileSize: 1749,
        minLevel: 11,
        getTileUrl: function(){
            return "{% static 'images/GEO_ADD_15_0855_001.jpg' %}";
        }
      }
  });
</script>
{% endblock extra_js %}
