{% extends "./base.html" %}
{% block main %}
<main>
    {% block content %}
        <a href="{{ edit_url }}"><i class="fas fa-chevron-left margin-right"></i><span class="dotted-underline">Back to {{ item|truncatewords:15 }}</span></a>

        <h1><span class="highlight">Related to:</span> {{ item|truncatewords:15 }}</h1>
        <div class="table-container">
            <table class="tablesorter" id="search-results-table">
                <thead>
                  <tr>
                    {% if object_type == 'entity' %}
                    <th scope="col" class="description" data-label="Title" data-placeholder="Filter by title">Title</th>
                    {% else %}
                    <th scope="col" class="description" data-label="Name" data-placeholder="Filter by name">Name</th>
                    {% endif %}
                    
                    <th scope="col" data-label="Relation">Relation</th>
                    <th class="filter-select" scope="col" data-label="Type/level" data-placeholder="Select">Type/level</th>
                    <th class="filter-select" scope="col" data-label="Publication status" data-placeholder="Select">Publication status</th>
                    <th scope="col" data-label="Updated" class="sorter-sugar" data-placeholder="Filter by date">Updated</th>
                  </tr>
                </thead>
                <tbody>
                  {% if object_type == 'entity' %}
                    {% for result in writers %}
                      {% include './includes/related_archival_record.html' with record=result relation='Writer' only %}
                    {% endfor %}
                    {% for result in addressees %}
                      {% include './includes/related_archival_record.html' with record=result relation='Addressee' only %}
                    {% endfor %}
                    {% for result in relations %}
                        {% include './includes/related_entity.html' with entity=result.related_entity relation=result.relation_detail only %}
                    {% endfor %}
                    {% for result in corporate_body_subjects %}
                      {% include './includes/related_archival_record.html' with record=result relation='Corporate body as a subject' only %}
                    {% endfor %}
                    {% for result in person_subjects %}
                      {% include './includes/related_archival_record.html' with record=result relation='Person as a subject' only %}
                    {% endfor %}
                  {% elif object_type == 'record' %}
                    {% for result in writers %}
                      {% include './includes/related_entity.html' with entity=result relation='Writer' only %}
                    {% endfor %}
                    {% for result in related_materials %}
                      {% include './includes/related_archival_record.html' with record=result.related_record relation=result.context only %}
                    {% endfor %}
                    {% for result in addressees %}
                      {% include './includes/related_entity.html' with entity=result relation='Addressee' only %}
                    {% endfor %}
                    {% for result in corporate_body_subjects %}
                      {% include './includes/related_entity.html' with entity=result relation='Corporate body as a subject' only %}
                    {% endfor %}
                    {% for result in person_subjects %}
                      {% include './includes/related_entity.html' with entity=result relation='Person as a subject' only %}
                    {% endfor %}
                  {% endif %}
                </tbody>
              </table>
          </div>
          <!-- TODO: add pagination -->
    {% endblock content %}
</main>
{% endblock main %}
