{% extends "./base.html" %}
{% load editor_form_tags %}

{% block page_header %}
<div id="page-header">
  <h1>Reset password</h1>
</div>
{% endblock page_header %}

{% block content %}
<div class="reset-password">
    <h2>Change Password</h2>
    <form action="" method="" class="two-column-table">
        <div>
            <label>
                <span class="required">Old password</span>
                <input type="password" name="old-password" placeholder="Old Password" onfocus="this.placeholder=''" onblur="this.placeholder='Old Password'" required/>
            </label>
        </div>
        <div></div>
        <div>
            <label for="new-password">
                New password
                <input type="password" id="new-password" aria-label="new password" placeholder="New Password" onfocus="this.placeholder=''" onblur="this.placeholder='New Password'" required/>
            </label>
        </div>
        <div>
            <label>
                <span class="required">Confirm new password</span>
                <input type="password" name="confirm-new-password" placeholder="Confirm new password" onfocus="this.placeholder=''" onblur="this.placeholder='Confirm new password'" required/>
            </label>
        </div>
        <input type="submit" class="save" value="Save" />
    </form>
</div>
{% endblock content %}